flows.json
[
    {
        "id": "9fcb3dc635318115",
        "type": "tab",
        "label": "Sensor Global Cache",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "218b5b0dabe0e4cb",
        "type": "subflow",
        "name": "Monitor",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 220,
                "wires": [
                    {
                        "id": "b792d5af2f910c10"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "bd6837434fd7b3cb",
        "type": "redis-config",
        "name": "Redis",
        "options": "REDIS_URL",
        "cluster": false,
        "optionsType": "env"
    },
    {
        "id": "8af16e9d551a61eb",
        "type": "mqtt-broker",
        "name": "GB1",
        "broker": "\"\"",
        "port": " ",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a7877619083a1ee3",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_cache_delay_seconds",
        "help": "Delay to get the data in the cache",
        "labels": "global_cache,centre_id,report_by",
        "mtype": "gauge"
    },
    {
        "id": "5ff96cf14749d4c6",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_messages_cached_delay_total",
        "help": "Message cached",
        "labels": "global_cache,delay_threshold,centre_id,report_by",
        "mtype": "counter"
    },
    {
        "id": "5899a7a7d75907f7",
        "type": "mqtt-broker",
        "name": "GC2",
        "broker": "\"\"",
        "port": "1883",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "085383537e4479a7",
        "type": "mqtt-broker",
        "name": "GC3",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d6314b59f8ceda2f",
        "type": "mqtt-broker",
        "name": "GC4",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "65157bf97529f3dd",
        "type": "mqtt-broker",
        "name": "GC5",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "87cae6509a425ee7",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_messages_missed_total",
        "help": "Not in globalcache",
        "labels": "global_cache,centre_id,report_by",
        "mtype": "counter"
    },
    {
        "id": "84cd0deea504b109",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_messages_missed_all_total",
        "help": "Not in any cache",
        "labels": "centre_id,report_by",
        "mtype": "counter"
    },
    {
        "id": "18635c819fe0c4ee",
        "type": "mqtt-broker",
        "name": "GC1",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e0abf69e68f5655a",
        "type": "mqtt-broker",
        "name": "GC6",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "86bd07697c1bc039",
        "type": "mqtt-broker",
        "name": "GC7",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0b07d12b43fc3df1",
        "type": "mqtt-broker",
        "name": "GC8",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f2c97bcad433a95c",
        "type": "mqtt-broker",
        "name": "GC9",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "92fcc20085a38a9d",
        "type": "mqtt-broker",
        "name": "GC10",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1d0ef4c6483c7efe",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_messages_published_total",
        "help": "Messages from origin",
        "labels": "centre_id,report_by",
        "mtype": "counter"
    },
    {
        "id": "5742725833a2549a",
        "type": "logIO-logger",
        "name": "Log",
        "logLevel": "info",
        "isTimestampUTC": true,
        "logMeta": "none",
        "logMetaOptions": "",
        "logOutput": "file",
        "fileFileName": "global-cache-%DATE%.log",
        "fileDirName": "",
        "fileDatePattern": "YYYY-MM-DD-HH",
        "fileIsJsonFormat": true,
        "fileZippedArchive": true,
        "fileMaxSize": "500",
        "fileMaxSizeUnit": "m",
        "fileMaxFiles": "24",
        "fileMaxFilesUnit": "",
        "consoleIsJsonFormat": false,
        "elkUrl": "http://localhost:9200",
        "elkIndex": "node-red"
    },
    {
        "id": "ab2e2f87fc8b78d4",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_messages_duplicates_total",
        "help": "Number of messages with identical data_id and no \"rel=update\"",
        "labels": "centre_id,report_by",
        "mtype": "counter"
    },
    {
        "id": "bd45a6d2a3028afd",
        "type": "mqtt-broker",
        "name": "GB2",
        "broker": "\"\"",
        "port": "1883",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e3bccc1cf110ff16",
        "type": "global-config",
        "env": []
    },
    {
        "id": "b991eb3f6f6921cc",
        "type": "prometheus-metric-config",
        "z": "218b5b0dabe0e4cb",
        "name": "wmo_wis2_scgc_messages_cache_override_total",
        "help": "Message not cached override",
        "labels": "global_cache,centre_id,report_by",
        "mtype": "counter"
    },
    {
        "id": "5481f3311ff3028d",
        "type": "mqtt-broker",
        "name": "Pub",
        "broker": "\"\"",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "37e01b07c3e8a037",
        "type": "switch",
        "z": "218b5b0dabe0e4cb",
        "name": "Delay to cache",
        "property": "($millis() - $number(msg.payload)) / 1000",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "lte",
                "v": "$parent.delay1",
                "vt": "flow"
            },
            {
                "t": "lte",
                "v": "$parent.delay2",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 760,
        "y": 320,
        "wires": [
            [
                "12689335dc7f840c"
            ],
            [
                "b0d1cc2019c31ab7"
            ],
            [
                "e320c4a0bf5d15a7"
            ]
        ]
    },
    {
        "id": "12689335dc7f840c",
        "type": "change",
        "z": "218b5b0dabe0e4cb",
        "name": "Prometheus - 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"global_cache\": $flowContext(\"cache\"),\t      \"delay_threshold\": $flowContext(\"$parent.delay1\"),\t      \"centre_id\":  $flowContext(\"centreid\"),\t      \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 280,
        "wires": [
            [
                "cc3ad656b9afece1"
            ]
        ]
    },
    {
        "id": "f054d467a665124e",
        "type": "change",
        "z": "218b5b0dabe0e4cb",
        "name": "Get",
        "rules": [
            {
                "t": "set",
                "p": "cache",
                "pt": "flow",
                "to": "cache",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "flow",
                "to": "sensorid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "$split(topic,\"/\")[3]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$flowContext(\"cache\") & \"#\" & $flowContext(\"centreid\") & \"#\" & payload.properties.data_id & \"#\" & payload.properties.pubtime",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "hset",
                "pt": "msg",
                "to": "[\t   \"data#\" & $flowContext(\"centreid\") & \"#\" & payload.properties.data_id & \"#\" & payload.properties.pubtime,\t   $flowContext(\"cache\"),\t   $millis()\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "cache",
                "pt": "msg",
                "to": "$exists(payload.properties.cache) ? payload.properties.cache : true",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "orig_wnm",
                "pt": "msg",
                "to": "[\t   \"data#\" & $flowContext(\"centreid\") & \"#\" & payload.properties.data_id & \"#\" & payload.properties.pubtime,\t   \"wnm\"\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "cache_links",
                "pt": "msg",
                "to": "payload.links",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "fe20b670574db962"
            ]
        ]
    },
    {
        "id": "36c8e0768df24445",
        "type": "change",
        "z": "218b5b0dabe0e4cb",
        "name": "Del",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 220,
        "wires": [
            [
                "e9640af2fdcbe681"
            ]
        ]
    },
    {
        "id": "f41c5ab8fb94e076",
        "type": "change",
        "z": "218b5b0dabe0e4cb",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"set\",\t   \"labels\":{\t      \"global_cache\": $flowContext(\"cache\"),\t      \"centre_id\":  $flowContext(\"centreid\"),\t      \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\": ( ($millis() - $number(msg.payload)) / 1000 )\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "ce363774ca216391"
            ]
        ]
    },
    {
        "id": "bf048482180d33c6",
        "type": "switch",
        "z": "218b5b0dabe0e4cb",
        "name": "Expired ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 220,
        "wires": [
            [
                "36c8e0768df24445",
                "f41c5ab8fb94e076",
                "37e01b07c3e8a037",
                "a934bf4a57f5ab75",
                "064312cfd531aaaf"
            ]
        ]
    },
    {
        "id": "b0d1cc2019c31ab7",
        "type": "change",
        "z": "218b5b0dabe0e4cb",
        "name": "Prometheus - 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"global_cache\": $flowContext(\"cache\"),\t      \"delay_threshold\": $flowContext(\"$parent.delay2\"),\t      \"centre_id\":  $flowContext(\"centreid\"),\t      \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 320,
        "wires": [
            [
                "cc3ad656b9afece1"
            ]
        ]
    },
    {
        "id": "e320c4a0bf5d15a7",
        "type": "change",
        "z": "218b5b0dabe0e4cb",
        "name": "Prometheus - 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"global_cache\": $flowContext(\"cache\"),\t      \"delay_threshold\": $flowContext(\"$parent.timeout_cache\"),\t      \"centre_id\":  $flowContext(\"centreid\"),\t      \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 360,
        "wires": [
            [
                "cc3ad656b9afece1"
            ]
        ]
    },
    {
        "id": "b792d5af2f910c10",
        "type": "delay",
        "z": "218b5b0dabe0e4cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "f054d467a665124e"
            ]
        ]
    },
    {
        "id": "a934bf4a57f5ab75",
        "type": "change",
        "z": "218b5b0dabe0e4cb",
        "name": "Hset",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "hset",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 140,
        "wires": [
            [
                "32b9c74a6b4358be"
            ]
        ]
    },
    {
        "id": "e9640af2fdcbe681",
        "type": "redis-command",
        "z": "218b5b0dabe0e4cb",
        "server": "bd6837434fd7b3cb",
        "command": "DEL",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 860,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "fe20b670574db962",
        "type": "redis-command",
        "z": "218b5b0dabe0e4cb",
        "server": "bd6837434fd7b3cb",
        "command": "GET",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 440,
        "y": 220,
        "wires": [
            [
                "bf048482180d33c6"
            ]
        ]
    },
    {
        "id": "32b9c74a6b4358be",
        "type": "redis-command",
        "z": "218b5b0dabe0e4cb",
        "server": "bd6837434fd7b3cb",
        "command": "HSET",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 870,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ce363774ca216391",
        "type": "prometheus-exporter",
        "z": "218b5b0dabe0e4cb",
        "name": "Delay",
        "metric": "a7877619083a1ee3",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "cc3ad656b9afece1",
        "type": "prometheus-exporter",
        "z": "218b5b0dabe0e4cb",
        "name": "Cached",
        "metric": "5ff96cf14749d4c6",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "23300849c0a96dfb",
        "type": "change",
        "z": "218b5b0dabe0e4cb",
        "name": "WNM",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "orig_wnm",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "92c07fe7b4c6371b"
            ]
        ]
    },
    {
        "id": "92c07fe7b4c6371b",
        "type": "redis-command",
        "z": "218b5b0dabe0e4cb",
        "server": "bd6837434fd7b3cb",
        "command": "HGET",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 450,
        "y": 460,
        "wires": [
            [
                "96ebeadf57737f79"
            ]
        ]
    },
    {
        "id": "96ebeadf57737f79",
        "type": "json",
        "z": "218b5b0dabe0e4cb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "5ab5797d3671011e"
            ]
        ]
    },
    {
        "id": "5ab5797d3671011e",
        "type": "change",
        "z": "218b5b0dabe0e4cb",
        "name": "Links",
        "rules": [
            {
                "t": "set",
                "p": "orig_links",
                "pt": "msg",
                "to": "payload.links",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "e9ac31ee11295bcc"
            ]
        ]
    },
    {
        "id": "064312cfd531aaaf",
        "type": "link out",
        "z": "218b5b0dabe0e4cb",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "044c6018b954086e"
        ],
        "x": 695,
        "y": 260,
        "wires": []
    },
    {
        "id": "044c6018b954086e",
        "type": "link in",
        "z": "218b5b0dabe0e4cb",
        "name": "link in 8",
        "links": [
            "064312cfd531aaaf"
        ],
        "x": 215,
        "y": 460,
        "wires": [
            [
                "23300849c0a96dfb"
            ]
        ]
    },
    {
        "id": "e9ac31ee11295bcc",
        "type": "switch",
        "z": "218b5b0dabe0e4cb",
        "name": "Cached ?",
        "property": "orig_links",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "cache_links",
                "vt": "msg"
            },
            {
                "t": "jsonata_exp",
                "v": "cache",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 840,
        "y": 460,
        "wires": [
            [],
            [
                "0e49f1936ecdd272"
            ]
        ]
    },
    {
        "id": "bbc0b553bf162683",
        "type": "prometheus-exporter",
        "z": "218b5b0dabe0e4cb",
        "name": "Cache override",
        "metric": "b991eb3f6f6921cc",
        "x": 1160,
        "y": 460,
        "wires": []
    },
    {
        "id": "0e49f1936ecdd272",
        "type": "change",
        "z": "218b5b0dabe0e4cb",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"global_cache\": $flowContext(\"cache\"),\t      \"centre_id\":  $flowContext(\"centreid\"),\t      \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 460,
        "wires": [
            [
                "bbc0b553bf162683"
            ]
        ]
    },
    {
        "id": "568c765b12630d5a",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Which ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^orig#.*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^wnm#.*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^wnmid#.*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^logfile#.*",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 530,
        "y": 2140,
        "wires": [
            [
                "5c23a20c1171293c"
            ],
            [],
            [],
            [],
            [
                "b26fc71e5e4b963d"
            ]
        ]
    },
    {
        "id": "b26fc71e5e4b963d",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "$split(payload,\"#\")[1]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "globalcache",
                "pt": "msg",
                "to": "$split(payload,\"#\")[0]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "dataid",
                "pt": "msg",
                "to": "$split(payload,\"#\")[2]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"global_cache\": globalcache,\t      \"centre_id\":  centreid,        \t      \"report_by\": $flowContext(\"sensorid\")\t    },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 2160,
        "wires": [
            [
                "571f740a66401f2c"
            ]
        ]
    },
    {
        "id": "b310c4753946b7db",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "delay1",
                "pt": "flow",
                "to": "$number($env(\"CACHE_DELAY_LOW\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "delay2",
                "pt": "flow",
                "to": "$number($env(\"CACHE_DELAY_MED\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "timeout_cache",
                "pt": "flow",
                "to": "$number($env(\"CACHE_DELAY_MAX\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "timeout_orig",
                "pt": "flow",
                "to": "$number($env(\"CACHE_DELAY_MAX\")) + 10",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "flow",
                "to": "MQTT_TOPIC",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "log",
                "pt": "flow",
                "to": "$eval($length($env(\"WNM_LOGGING\")) = 0 ? \"false\" : $env(\"WNM_LOGGING\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "flow",
                "to": "SENSOR_CENTRE_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "flow",
                "to": "SENSOR_CENTRE_ID_URL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b6486169011447a9",
        "type": "inject",
        "z": "9fcb3dc635318115",
        "name": "Subscription",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "\"cache/a/wis2/\" & $flowContext(\"topic\")",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 170,
        "y": 1600,
        "wires": [
            [
                "123646dccc919b37",
                "30f45b658646e599",
                "d48ec981c342ed1c",
                "4408d5f578e56d68",
                "5b98ae300a97518c",
                "2cd05ca1d5130ce7",
                "fc62a75f12c05585",
                "62d5e95bf30eab6b",
                "2178334fc1068644",
                "172b7f8e1604278d",
                "b7e003bf5ca40a88"
            ]
        ]
    },
    {
        "id": "86fe39df4ac6bb3a",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GC 2",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "5899a7a7d75907f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 490,
        "y": 1520,
        "wires": [
            [
                "d236be8daa824d52"
            ]
        ]
    },
    {
        "id": "3335b84a9d04f571",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Cache",
        "rules": [
            {
                "t": "set",
                "p": "cache",
                "pt": "msg",
                "to": "gc[1]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "msg",
                "to": "sensorid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1520,
        "wires": [
            [
                "1b6822f80f612616"
            ]
        ]
    },
    {
        "id": "1b6822f80f612616",
        "type": "subflow:218b5b0dabe0e4cb",
        "z": "9fcb3dc635318115",
        "name": "Monitor",
        "x": 860,
        "y": 1520,
        "wires": []
    },
    {
        "id": "22e263de01f5f52f",
        "type": "inject",
        "z": "9fcb3dc635318115",
        "name": "Get Notifications",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"set\",\"notify-keyspace-events\",\"KEx\"]",
        "payloadType": "json",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "cff5e351d6a01d18"
            ]
        ]
    },
    {
        "id": "6a6c03791ac454a9",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GC 3",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "085383537e4479a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 490,
        "y": 1580,
        "wires": [
            [
                "770ce9fbe6d1fb6b"
            ]
        ]
    },
    {
        "id": "cac7494512e7c688",
        "type": "subflow:218b5b0dabe0e4cb",
        "z": "9fcb3dc635318115",
        "name": "Monitor",
        "x": 860,
        "y": 1580,
        "wires": []
    },
    {
        "id": "8ef58f2fa857ad2b",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GC 4",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "d6314b59f8ceda2f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 490,
        "y": 1640,
        "wires": [
            [
                "9b72a24e04539dfd"
            ]
        ]
    },
    {
        "id": "1f2479d86f2bb5de",
        "type": "subflow:218b5b0dabe0e4cb",
        "z": "9fcb3dc635318115",
        "name": "Monitor",
        "x": 860,
        "y": 1640,
        "wires": []
    },
    {
        "id": "5c23a20c1171293c",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Key - Orig",
        "rules": [
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "$split(payload,\"#\")[1]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"data#\" & $substringAfter(payload,\"orig#\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "orig",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 2120,
        "wires": [
            [
                "443ca97e3b2a6192"
            ]
        ]
    },
    {
        "id": "ef52aac7153a7cd5",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "In a cache ?",
        "property": "$count($filter($flowContext(\"gc\"), function($v, $i, $a) {   $v in payload  }))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1040,
        "y": 2080,
        "wires": [
            [
                "d972d19f8d20ee7d"
            ],
            []
        ]
    },
    {
        "id": "568dfc3eeca101c6",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Del Payload",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 2120,
        "wires": [
            [
                "403a1066f87bedb1"
            ]
        ]
    },
    {
        "id": "d972d19f8d20ee7d",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"centre_id\": centreid,        \"report_by\": $flowContext(\"sensorid\")\t    },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 2080,
        "wires": [
            [
                "3c682df2ec8a4bbe"
            ]
        ]
    },
    {
        "id": "b259769af0885bde",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GC 5",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "65157bf97529f3dd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 490,
        "y": 1700,
        "wires": [
            [
                "c9597b1485e6a1db"
            ]
        ]
    },
    {
        "id": "e90f3c5e7aa6db59",
        "type": "subflow:218b5b0dabe0e4cb",
        "z": "9fcb3dc635318115",
        "name": "Monitor",
        "x": 860,
        "y": 1700,
        "wires": []
    },
    {
        "id": "9e28b01962ba1f2e",
        "type": "redis-in",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "psubscribe",
        "name": "",
        "topic": "__keyevent@0__:expired",
        "obj": true,
        "timeout": 0,
        "x": 210,
        "y": 2140,
        "wires": [
            [
                "568c765b12630d5a"
            ]
        ]
    },
    {
        "id": "cff5e351d6a01d18",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "CONFIG",
        "name": "Config",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "443ca97e3b2a6192",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HGETALL",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 850,
        "y": 2120,
        "wires": [
            [
                "ef52aac7153a7cd5",
                "568dfc3eeca101c6",
                "c2cfa8d7adb26eae"
            ]
        ]
    },
    {
        "id": "403a1066f87bedb1",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "DEL",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1190,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "571f740a66401f2c",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Not cached",
        "metric": "87cae6509a425ee7",
        "x": 840,
        "y": 2160,
        "wires": []
    },
    {
        "id": "3c682df2ec8a4bbe",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Not cached at all",
        "metric": "84cd0deea504b109",
        "x": 1380,
        "y": 2080,
        "wires": []
    },
    {
        "id": "d236be8daa824d52",
        "type": "msg-speed",
        "z": "9fcb3dc635318115",
        "name": "Speed",
        "frequency": "sec",
        "interval": "10",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 610,
        "y": 1520,
        "wires": [
            [],
            [
                "3335b84a9d04f571"
            ]
        ]
    },
    {
        "id": "770ce9fbe6d1fb6b",
        "type": "msg-speed",
        "z": "9fcb3dc635318115",
        "name": "Speed",
        "frequency": "sec",
        "interval": "10",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 610,
        "y": 1580,
        "wires": [
            [],
            [
                "996d7d67e8aa735d"
            ]
        ]
    },
    {
        "id": "9b72a24e04539dfd",
        "type": "msg-speed",
        "z": "9fcb3dc635318115",
        "name": "Speed",
        "frequency": "sec",
        "interval": "10",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 610,
        "y": 1640,
        "wires": [
            [],
            [
                "7eb4f53450dcdf22"
            ]
        ]
    },
    {
        "id": "c9597b1485e6a1db",
        "type": "msg-speed",
        "z": "9fcb3dc635318115",
        "name": "Speed",
        "frequency": "sec",
        "interval": "10",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 610,
        "y": 1700,
        "wires": [
            [],
            [
                "a09adfe5f67d2466"
            ]
        ]
    },
    {
        "id": "de455b0922a8320c",
        "type": "inject",
        "z": "9fcb3dc635318115",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "02f9ea24a447a4bf",
                "cbaf057b21b74d5e",
                "ba0078a75bce5079",
                "ef73b2734ba69ce9",
                "372054932ed7cc7e",
                "2933423cd28f1686",
                "84504441426d2c10",
                "0409b074e5072243",
                "98950e79f6947e3a",
                "a440adb1d906b7e1",
                "5395eeb95ada2a4b",
                "b310c4753946b7db",
                "543076d592aa93a6",
                "40a77dbbc723fe60"
            ]
        ]
    },
    {
        "id": "cbaf057b21b74d5e",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB1",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB1_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB1_BROKER\"),/wss/) or $contains($env(\"MQTT_GB1_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB1_VERIFYCERT\")) = 0 ? false : $env(\"MQTT_GB1_VERIFYCERT\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB1_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB1_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB1_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB1_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb1",
                "pt": "flow",
                "to": "GB1_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "6600d6a1be6e48c0"
            ]
        ]
    },
    {
        "id": "1329e99213124402",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GC 1",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GC_1_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GC_1_BROKER\"),/wss/) or $contains($env(\"MQTT_GC_1_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GC_1_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GC_1_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GC_1_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GC_1_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gc[0]",
                "pt": "flow",
                "to": "GC_1_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "eba5cb2d057c0e5e"
            ]
        ]
    },
    {
        "id": "eba5cb2d057c0e5e",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GC1",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "18635c819fe0c4ee",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "6600d6a1be6e48c0",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB1",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8af16e9d551a61eb",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "02f9ea24a447a4bf",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 1 ?",
        "property": "$length($env(\"MQTT_GC_1_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "1329e99213124402"
            ]
        ]
    },
    {
        "id": "f7739bc9c3f024f6",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GC 2",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GC_2_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GC_2_BROKER\"),/wss/) or $contains($env(\"MQTT_GC_2_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GC_2_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GC_2_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GC_2_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GC_2_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gc[1]",
                "pt": "flow",
                "to": "GC_2_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 420,
        "wires": [
            [
                "44304cb54414a6a2"
            ]
        ]
    },
    {
        "id": "44304cb54414a6a2",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GC2",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5899a7a7d75907f7",
        "x": 650,
        "y": 420,
        "wires": []
    },
    {
        "id": "ba0078a75bce5079",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 2 ?",
        "property": "$length($env(\"MQTT_GC_2_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "f7739bc9c3f024f6"
            ]
        ]
    },
    {
        "id": "1de65c960bb4581f",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GC 3",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GC_3_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GC_3_BROKER\"),/wss/) or $contains($env(\"MQTT_GC_3_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GC_3_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GC_3_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GC_3_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GC_3_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gc[2]",
                "pt": "flow",
                "to": "GC_3_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 480,
        "wires": [
            [
                "9dd044305c383ac7"
            ]
        ]
    },
    {
        "id": "9dd044305c383ac7",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GC3",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "085383537e4479a7",
        "x": 650,
        "y": 480,
        "wires": []
    },
    {
        "id": "ef73b2734ba69ce9",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 3 ?",
        "property": "$length($env(\"MQTT_GC_3_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 480,
        "wires": [
            [
                "1de65c960bb4581f"
            ]
        ]
    },
    {
        "id": "4a835451725e728c",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GC 4",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GC_4_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GC_4_BROKER\"),/wss/) or $contains($env(\"MQTT_GC_4_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GC_4_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GC_4_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GC_4_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GC_4_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gc[3]",
                "pt": "flow",
                "to": "GC_4_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 540,
        "wires": [
            [
                "8f08560422f1a101"
            ]
        ]
    },
    {
        "id": "8f08560422f1a101",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GC4",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6314b59f8ceda2f",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "372054932ed7cc7e",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 4 ?",
        "property": "$length($env(\"MQTT_GC_4_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 540,
        "wires": [
            [
                "4a835451725e728c"
            ]
        ]
    },
    {
        "id": "e6966da1eb764617",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GC 5",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GC_5_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GC_5_BROKER\"),/wss/) or $contains($env(\"MQTT_GC_5_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GC_5_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GC_5_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GC_5_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GC_5_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gc[4]",
                "pt": "flow",
                "to": "GC_5_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 600,
        "wires": [
            [
                "70e09a7056387ef4"
            ]
        ]
    },
    {
        "id": "70e09a7056387ef4",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GC5",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "65157bf97529f3dd",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "2933423cd28f1686",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 5 ?",
        "property": "$length($env(\"MQTT_GC_5_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 600,
        "wires": [
            [
                "e6966da1eb764617"
            ]
        ]
    },
    {
        "id": "335b9a05bdf472bc",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GC 6",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GC_6_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GC_6_BROKER\"),/wss/) or $contains($env(\"MQTT_GC_6_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GC_6_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GC_6_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GC_6_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GC_6_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gc[5]",
                "pt": "flow",
                "to": "GC_6_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 660,
        "wires": [
            [
                "7a339cb7ee3248aa"
            ]
        ]
    },
    {
        "id": "7a339cb7ee3248aa",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GC6",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e0abf69e68f5655a",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "84504441426d2c10",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 6 ?",
        "property": "$length($env(\"MQTT_GC_6_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 660,
        "wires": [
            [
                "335b9a05bdf472bc"
            ]
        ]
    },
    {
        "id": "afa1acfb4d19bc06",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GC 7",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GC_7_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GC_7_BROKER\"),/wss/) or $contains($env(\"MQTT_GC_7_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GC_7_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GC_7_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GC_7_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GC_7_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gc[6]",
                "pt": "flow",
                "to": "GC_7_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "b048fb4f5faf163e"
            ]
        ]
    },
    {
        "id": "b048fb4f5faf163e",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GC7",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "86bd07697c1bc039",
        "x": 650,
        "y": 720,
        "wires": []
    },
    {
        "id": "0409b074e5072243",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 7 ?",
        "property": "$length($env(\"MQTT_GC_7_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 720,
        "wires": [
            [
                "afa1acfb4d19bc06"
            ]
        ]
    },
    {
        "id": "943525222b5e62af",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GC 8",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GC_8_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GC_8_BROKER\"),/wss/) or $contains($env(\"MQTT_GC_8_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GC_8_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GC_8_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GC_8_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GC_8_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gc[7]",
                "pt": "flow",
                "to": "GC_8_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 780,
        "wires": [
            [
                "67f2a77289c8f153"
            ]
        ]
    },
    {
        "id": "67f2a77289c8f153",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GC8",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0b07d12b43fc3df1",
        "x": 650,
        "y": 780,
        "wires": []
    },
    {
        "id": "98950e79f6947e3a",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 8 ?",
        "property": "$length($env(\"MQTT_GC_8_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 780,
        "wires": [
            [
                "943525222b5e62af"
            ]
        ]
    },
    {
        "id": "7f2a72caee39adce",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GC 9",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GC_9_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GC_9_BROKER\"),/wss/) or $contains($env(\"MQTT_GC_9_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GC_9_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GC_9_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GC_9_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GC_9_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gc[8]",
                "pt": "flow",
                "to": "GC_9_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 840,
        "wires": [
            [
                "d3b0f595b60078c3"
            ]
        ]
    },
    {
        "id": "d3b0f595b60078c3",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GC9",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f2c97bcad433a95c",
        "x": 650,
        "y": 840,
        "wires": []
    },
    {
        "id": "a440adb1d906b7e1",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 9 ?",
        "property": "$length($env(\"MQTT_GC_9_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 840,
        "wires": [
            [
                "7f2a72caee39adce"
            ]
        ]
    },
    {
        "id": "d7bbfbda698f9b24",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GC 10",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GC_10_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GC_10_BROKER\"),/wss/) or $contains($env(\"MQTT_GC_10_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GC_10_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GC_10_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GC_10_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GC_10_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gc[9]",
                "pt": "flow",
                "to": "GC_10_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 900,
        "wires": [
            [
                "ea92124a82e22665"
            ]
        ]
    },
    {
        "id": "ea92124a82e22665",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GC1",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "92fcc20085a38a9d",
        "x": 670,
        "y": 900,
        "wires": []
    },
    {
        "id": "5395eeb95ada2a4b",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 10 ?",
        "property": "$length($env(\"MQTT_GC_10_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 900,
        "wires": [
            [
                "d7bbfbda698f9b24"
            ]
        ]
    },
    {
        "id": "123646dccc919b37",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 1 ?",
        "property": "$length($env(\"MQTT_GC_1_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 1460,
        "wires": [
            [
                "787e822270fae343"
            ]
        ]
    },
    {
        "id": "30f45b658646e599",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 2 ?",
        "property": "$length($env(\"MQTT_GC_2_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 1520,
        "wires": [
            [
                "86fe39df4ac6bb3a"
            ]
        ]
    },
    {
        "id": "d48ec981c342ed1c",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 3 ?",
        "property": "$length($env(\"MQTT_GC_3_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 1580,
        "wires": [
            [
                "6a6c03791ac454a9"
            ]
        ]
    },
    {
        "id": "4408d5f578e56d68",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 4 ?",
        "property": "$length($env(\"MQTT_GC_4_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 1640,
        "wires": [
            [
                "8ef58f2fa857ad2b"
            ]
        ]
    },
    {
        "id": "5b98ae300a97518c",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 5 ?",
        "property": "$length($env(\"MQTT_GC_5_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 1700,
        "wires": [
            [
                "b259769af0885bde"
            ]
        ]
    },
    {
        "id": "787e822270fae343",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GC 1",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "18635c819fe0c4ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 490,
        "y": 1460,
        "wires": [
            [
                "aaa6ccd4cb51b7a7"
            ]
        ]
    },
    {
        "id": "9a01739c8b89981c",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Cache",
        "rules": [
            {
                "t": "set",
                "p": "cache",
                "pt": "msg",
                "to": "gc[0]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "msg",
                "to": "sensorid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1460,
        "wires": [
            [
                "462f3c1b8fc65f7e"
            ]
        ]
    },
    {
        "id": "462f3c1b8fc65f7e",
        "type": "subflow:218b5b0dabe0e4cb",
        "z": "9fcb3dc635318115",
        "name": "Monitor",
        "x": 860,
        "y": 1460,
        "wires": []
    },
    {
        "id": "aaa6ccd4cb51b7a7",
        "type": "msg-speed",
        "z": "9fcb3dc635318115",
        "name": "Speed",
        "frequency": "sec",
        "interval": "10",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 610,
        "y": 1460,
        "wires": [
            [],
            [
                "9a01739c8b89981c"
            ]
        ]
    },
    {
        "id": "996d7d67e8aa735d",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Cache",
        "rules": [
            {
                "t": "set",
                "p": "cache",
                "pt": "msg",
                "to": "gc[2]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "msg",
                "to": "sensorid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1580,
        "wires": [
            [
                "cac7494512e7c688"
            ]
        ]
    },
    {
        "id": "7eb4f53450dcdf22",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Cache",
        "rules": [
            {
                "t": "set",
                "p": "cache",
                "pt": "msg",
                "to": "gc[3]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "msg",
                "to": "sensorid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1640,
        "wires": [
            [
                "1f2479d86f2bb5de"
            ]
        ]
    },
    {
        "id": "a09adfe5f67d2466",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Cache",
        "rules": [
            {
                "t": "set",
                "p": "cache",
                "pt": "msg",
                "to": "gc[4]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "msg",
                "to": "sensorid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1700,
        "wires": [
            [
                "e90f3c5e7aa6db59"
            ]
        ]
    },
    {
        "id": "6082cddaab062b75",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GC 6",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "e0abf69e68f5655a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 490,
        "y": 1760,
        "wires": [
            [
                "fad7303a5a20d73a"
            ]
        ]
    },
    {
        "id": "0ab6ca39136431d7",
        "type": "subflow:218b5b0dabe0e4cb",
        "z": "9fcb3dc635318115",
        "name": "Monitor",
        "x": 860,
        "y": 1760,
        "wires": []
    },
    {
        "id": "fad7303a5a20d73a",
        "type": "msg-speed",
        "z": "9fcb3dc635318115",
        "name": "Speed",
        "frequency": "sec",
        "interval": "10",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 610,
        "y": 1760,
        "wires": [
            [],
            [
                "43185118318fa73b"
            ]
        ]
    },
    {
        "id": "2cd05ca1d5130ce7",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 6 ?",
        "property": "$length($env(\"MQTT_GC_5_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 1760,
        "wires": [
            [
                "6082cddaab062b75"
            ]
        ]
    },
    {
        "id": "43185118318fa73b",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Cache",
        "rules": [
            {
                "t": "set",
                "p": "cache",
                "pt": "msg",
                "to": "gc[5]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "msg",
                "to": "sensorid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1760,
        "wires": [
            [
                "0ab6ca39136431d7"
            ]
        ]
    },
    {
        "id": "dbcb66be9fda2e74",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GC 7",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "86bd07697c1bc039",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 490,
        "y": 1820,
        "wires": [
            [
                "6f95c8bffeffa465"
            ]
        ]
    },
    {
        "id": "4dfd01aca4376ece",
        "type": "subflow:218b5b0dabe0e4cb",
        "z": "9fcb3dc635318115",
        "name": "Monitor",
        "x": 860,
        "y": 1820,
        "wires": []
    },
    {
        "id": "6f95c8bffeffa465",
        "type": "msg-speed",
        "z": "9fcb3dc635318115",
        "name": "Speed",
        "frequency": "sec",
        "interval": "10",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 610,
        "y": 1820,
        "wires": [
            [],
            [
                "4cb16838471a6e5a"
            ]
        ]
    },
    {
        "id": "fc62a75f12c05585",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 7 ?",
        "property": "$length($env(\"MQTT_GC_5_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 1820,
        "wires": [
            [
                "dbcb66be9fda2e74"
            ]
        ]
    },
    {
        "id": "4cb16838471a6e5a",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Cache",
        "rules": [
            {
                "t": "set",
                "p": "cache",
                "pt": "msg",
                "to": "gc[6]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "msg",
                "to": "sensorid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1820,
        "wires": [
            [
                "4dfd01aca4376ece"
            ]
        ]
    },
    {
        "id": "b4752dc22ef7d9a7",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GC 8",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "0b07d12b43fc3df1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 490,
        "y": 1880,
        "wires": [
            [
                "25beb4cd9d76f406"
            ]
        ]
    },
    {
        "id": "e06c6c1580a07014",
        "type": "subflow:218b5b0dabe0e4cb",
        "z": "9fcb3dc635318115",
        "name": "Monitor",
        "x": 860,
        "y": 1880,
        "wires": []
    },
    {
        "id": "25beb4cd9d76f406",
        "type": "msg-speed",
        "z": "9fcb3dc635318115",
        "name": "Speed",
        "frequency": "sec",
        "interval": "10",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 610,
        "y": 1880,
        "wires": [
            [],
            [
                "13e970528dbd6ba8"
            ]
        ]
    },
    {
        "id": "62d5e95bf30eab6b",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 8 ?",
        "property": "$length($env(\"MQTT_GC_5_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 1880,
        "wires": [
            [
                "b4752dc22ef7d9a7"
            ]
        ]
    },
    {
        "id": "13e970528dbd6ba8",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Cache",
        "rules": [
            {
                "t": "set",
                "p": "cache",
                "pt": "msg",
                "to": "gc[7]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "msg",
                "to": "sensorid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1880,
        "wires": [
            [
                "e06c6c1580a07014"
            ]
        ]
    },
    {
        "id": "00cc7bb8706dde96",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GC 9",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "f2c97bcad433a95c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 490,
        "y": 1940,
        "wires": [
            [
                "440d84fc5f407709"
            ]
        ]
    },
    {
        "id": "c44569631105f79c",
        "type": "subflow:218b5b0dabe0e4cb",
        "z": "9fcb3dc635318115",
        "name": "Monitor",
        "x": 860,
        "y": 1940,
        "wires": []
    },
    {
        "id": "440d84fc5f407709",
        "type": "msg-speed",
        "z": "9fcb3dc635318115",
        "name": "Speed",
        "frequency": "sec",
        "interval": "10",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 610,
        "y": 1940,
        "wires": [
            [],
            [
                "116b964cc595919e"
            ]
        ]
    },
    {
        "id": "2178334fc1068644",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 9 ?",
        "property": "$length($env(\"MQTT_GC_5_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 1940,
        "wires": [
            [
                "00cc7bb8706dde96"
            ]
        ]
    },
    {
        "id": "116b964cc595919e",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Cache",
        "rules": [
            {
                "t": "set",
                "p": "cache",
                "pt": "msg",
                "to": "gc[8]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "msg",
                "to": "sensorid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1940,
        "wires": [
            [
                "c44569631105f79c"
            ]
        ]
    },
    {
        "id": "413628de064acdf5",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GC 10",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "92fcc20085a38a9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 490,
        "y": 2000,
        "wires": [
            [
                "4c64f57879230159"
            ]
        ]
    },
    {
        "id": "f88680224b100683",
        "type": "subflow:218b5b0dabe0e4cb",
        "z": "9fcb3dc635318115",
        "name": "Monitor",
        "x": 860,
        "y": 2000,
        "wires": []
    },
    {
        "id": "4c64f57879230159",
        "type": "msg-speed",
        "z": "9fcb3dc635318115",
        "name": "Speed",
        "frequency": "sec",
        "interval": "10",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 610,
        "y": 2000,
        "wires": [
            [],
            [
                "12c66efdbeae9a22"
            ]
        ]
    },
    {
        "id": "172b7f8e1604278d",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC 10 ?",
        "property": "$length($env(\"MQTT_GC_5_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 2000,
        "wires": [
            [
                "413628de064acdf5"
            ]
        ]
    },
    {
        "id": "12c66efdbeae9a22",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Cache",
        "rules": [
            {
                "t": "set",
                "p": "cache",
                "pt": "msg",
                "to": "gc[9]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "msg",
                "to": "sensorid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 2000,
        "wires": [
            [
                "f88680224b100683"
            ]
        ]
    },
    {
        "id": "dad7e36c780b3d66",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "GC ?",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$split(topic,\"#\")[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 2140,
        "wires": [
            [
                "568c765b12630d5a"
            ]
        ]
    },
    {
        "id": "d25b573528bf41dd",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Not Cacheable ?",
        "property": "$contains(topic, \"recommended\") or (payload.properties.cache = false)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 960,
        "wires": [
            [],
            [
                "e8e9918ab2ea8a60"
            ]
        ]
    },
    {
        "id": "f53714198eb1e993",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB1",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8af16e9d551a61eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 530,
        "y": 960,
        "wires": [
            [
                "2d4daa951d924bcf"
            ]
        ]
    },
    {
        "id": "3100f7aa144dfebe",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "wnmtopic",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "wnm",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "$split(topic,\"/\")[3]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "dataid",
                "pt": "msg",
                "to": "payload.properties.data_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "update",
                "pt": "msg",
                "to": "\"update\" in payload.links.rel",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "pubtime",
                "pt": "msg",
                "to": "payload.properties.pubtime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "originkey",
                "pt": "msg",
                "to": "\"orig#\" & centreid & \"#\" & dataid & \"#\" & pubtime",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "orig",
                "pt": "msg",
                "to": "[\t   originkey,\t   dataid & \"#\" & pubtime,\t   \"EX\",\t   $flowContext(\"timeout_orig\")\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "hset_data",
                "pt": "msg",
                "to": "[\t   \"data#\" & centreid & \"#\" & dataid & \"#\" & pubtime,\t   \"orig\",\t   $millis(),\t   \"wnm\",\t   $string(wnm)\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": " \"wnm#\" & centreid & \"#\" & dataid",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "hset_wnm",
                "pt": "msg",
                "to": "[\t   topic,\t   pubtime,\t   $millis()\t]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1120,
        "wires": [
            [
                "06ca5006eca19380"
            ]
        ]
    },
    {
        "id": "850db44db67c0829",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Del",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1280,
        "wires": [
            [
                "669a5db69fdb7581",
                "9c0a69b57ce5d988",
                "98e6536255949315",
                "a93bb330271ec030"
            ]
        ]
    },
    {
        "id": "669a5db69fdb7581",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Orig",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "orig",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1220,
        "wires": [
            [
                "d6b953d2c9b27373"
            ]
        ]
    },
    {
        "id": "0493ab6e0426e3f8",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t       \"centre_id\":  centreid,        \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\":1 \t\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1180,
        "wires": [
            [
                "9b9c3b87553ee4b5"
            ]
        ]
    },
    {
        "id": "2d4daa951d924bcf",
        "type": "rbe",
        "z": "9fcb3dc635318115",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 650,
        "y": 960,
        "wires": [
            [
                "d25b573528bf41dd"
            ]
        ]
    },
    {
        "id": "9c0a69b57ce5d988",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "All",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "hset_data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1260,
        "wires": [
            [
                "f8a53d2a6ae7d288"
            ]
        ]
    },
    {
        "id": "d6b953d2c9b27373",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "SET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1050,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "f8a53d2a6ae7d288",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HSET",
        "name": "HSET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1050,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "9b9c3b87553ee4b5",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Origin",
        "metric": "1d0ef4c6483c7efe",
        "x": 930,
        "y": 1180,
        "wires": []
    },
    {
        "id": "8b4cd7d82c23beee",
        "type": "msg-speed",
        "z": "9fcb3dc635318115",
        "name": "Speed",
        "frequency": "sec",
        "interval": "10",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 510,
        "y": 1120,
        "wires": [
            [],
            [
                "3100f7aa144dfebe"
            ]
        ]
    },
    {
        "id": "fecf26268d94e20b",
        "type": "split",
        "z": "9fcb3dc635318115",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "gc",
        "x": 1050,
        "y": 1340,
        "wires": [
            [
                "bcc8512c5ce7b36e"
            ]
        ]
    },
    {
        "id": "98e6536255949315",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "GC",
        "rules": [
            {
                "t": "set",
                "p": "gc",
                "pt": "msg",
                "to": "gc",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1340,
        "wires": [
            [
                "fecf26268d94e20b"
            ]
        ]
    },
    {
        "id": "bcc8512c5ce7b36e",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Store",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[\t   gc & \"#\" & centreid & \"#\" & dataid & \"#\" & pubtime ,\t   $millis(),\t   \"EX\",\t  $flowContext(\"timeout_cache\")\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1340,
        "wires": [
            [
                "d55761a08ee6e3d8"
            ]
        ]
    },
    {
        "id": "d55761a08ee6e3d8",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "SET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1290,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "b778150ac43b8303",
        "type": "delay",
        "z": "9fcb3dc635318115",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 435,
        "y": 1000,
        "wires": [
            [
                "6effc579c4b9bbf3",
                "f53714198eb1e993"
            ]
        ],
        "l": false
    },
    {
        "id": "b7e003bf5ca40a88",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "origin",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"origin/a/wis2/\" & $flowContext(\"topic\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "b778150ac43b8303"
            ]
        ]
    },
    {
        "id": "9bb946f7dd2f72ce",
        "type": "catch",
        "z": "9fcb3dc635318115",
        "name": "",
        "scope": [
            "787e822270fae343",
            "86fe39df4ac6bb3a",
            "6a6c03791ac454a9",
            "8ef58f2fa857ad2b",
            "b259769af0885bde",
            "6082cddaab062b75",
            "dbcb66be9fda2e74",
            "b4752dc22ef7d9a7",
            "00cc7bb8706dde96",
            "413628de064acdf5"
        ],
        "uncaught": false,
        "x": 500,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "06ca5006eca19380",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HGETALL",
        "name": "HGETALL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 780,
        "y": 1120,
        "wires": [
            [
                "371140a2f45f8846"
            ]
        ]
    },
    {
        "id": "371140a2f45f8846",
        "type": "link out",
        "z": "9fcb3dc635318115",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "13a3a1072b158c5c"
        ],
        "x": 875,
        "y": 1120,
        "wires": []
    },
    {
        "id": "13a3a1072b158c5c",
        "type": "link in",
        "z": "9fcb3dc635318115",
        "name": "link in 6",
        "links": [
            "371140a2f45f8846"
        ],
        "x": 475,
        "y": 1320,
        "wires": [
            [
                "d5bb69f4d4f8c1b4"
            ]
        ]
    },
    {
        "id": "d5bb69f4d4f8c1b4",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Empty ?",
        "property": "$count(payload)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 1320,
        "wires": [
            [
                "0493ab6e0426e3f8",
                "850db44db67c0829"
            ],
            [
                "da9042e45b74ed1c"
            ]
        ]
    },
    {
        "id": "a93bb330271ec030",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "WNM",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "hset_wnm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1300,
        "wires": [
            [
                "f044c7490c8e792d"
            ]
        ]
    },
    {
        "id": "f044c7490c8e792d",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HSET",
        "name": "HSET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1050,
        "y": 1300,
        "wires": [
            [
                "2fc3adac5cab5d9d"
            ]
        ]
    },
    {
        "id": "2fc3adac5cab5d9d",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Expire",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ hset_wnm[0], 86400 ]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1300,
        "wires": [
            [
                "47e819a2f896a2be"
            ]
        ]
    },
    {
        "id": "47e819a2f896a2be",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "EXPIRE",
        "name": "EXPIRE",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1300,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "47515d621ebc39f1",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Pubtime up ?",
        "property": "$reduce( $map(pubtime_keys, function($value) { $value < pubtime }), function($result, $value) { $result and $value }, true )",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 920,
        "y": 1400,
        "wires": [
            [
                "a85bf3a7164bde23"
            ],
            []
        ]
    },
    {
        "id": "da9042e45b74ed1c",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Keys",
        "rules": [
            {
                "t": "set",
                "p": "pubtime_keys",
                "pt": "msg",
                "to": "$filter(payload, function($value, $index) { $index % 2 = 0 } )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1400,
        "wires": [
            [
                "47515d621ebc39f1"
            ]
        ]
    },
    {
        "id": "a85bf3a7164bde23",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Update ?",
        "property": "update",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1080,
        "y": 1400,
        "wires": [
            [
                "e17647d5392269e9"
            ],
            [
                "30e12522f009eef0"
            ]
        ]
    },
    {
        "id": "e17647d5392269e9",
        "type": "link out",
        "z": "9fcb3dc635318115",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "eb5263f7a5df0484"
        ],
        "x": 1175,
        "y": 1380,
        "wires": []
    },
    {
        "id": "eb5263f7a5df0484",
        "type": "link in",
        "z": "9fcb3dc635318115",
        "name": "link in 7",
        "links": [
            "e17647d5392269e9"
        ],
        "x": 735,
        "y": 1340,
        "wires": [
            [
                "850db44db67c0829"
            ]
        ]
    },
    {
        "id": "30e12522f009eef0",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t       \"centre_id\":  centreid,        \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\":1 \t\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 1420,
        "wires": [
            [
                "e3c16ea751473a08"
            ]
        ]
    },
    {
        "id": "e3c16ea751473a08",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Duplicate",
        "metric": "ab2e2f87fc8b78d4",
        "x": 1380,
        "y": 1420,
        "wires": []
    },
    {
        "id": "c2cfa8d7adb26eae",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Log ?",
        "property": "log",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1020,
        "y": 2160,
        "wires": [
            [
                "717b10cd90d28b61"
            ]
        ]
    },
    {
        "id": "b0efdc98fd94d239",
        "type": "logIO",
        "z": "9fcb3dc635318115",
        "name": "Log",
        "active": true,
        "logger": "5742725833a2549a",
        "complete": "payload",
        "targetType": "msg",
        "logIOMode": "inline",
        "logIOScope": "I",
        "autoStart": true,
        "scope": [],
        "x": 1460,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "717b10cd90d28b61",
        "type": "function",
        "z": "9fcb3dc635318115",
        "name": "Fill missing",
        "func": "const keys = flow.get(\"gc\");\nconst mixed = msg.payload;\n\n// Convert mixed array to key-value map\nconst resultMap = {};\nfor (let i = 0; i < mixed.length; i += 2) {\n    resultMap[mixed[i]] = mixed[i + 1];\n}\n\n// Add missing keys with value 999\nkeys.forEach(key => {\n    if (!(key in resultMap)) {\n        resultMap[key] = \"9999999999999\";\n    }\n});\n\n// Convert back to array\nconst payload = [];\nfor (const [key, value] of Object.entries(resultMap)) {\n    payload.push(key, value);\n}\n\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 2160,
        "wires": [
            [
                "2ef8dc5b21e22705"
            ]
        ]
    },
    {
        "id": "7393b90c797c185f",
        "type": "redis-in",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "psubscribe",
        "name": "Sub",
        "topic": "origin/*",
        "obj": true,
        "timeout": 0,
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "8b4cd7d82c23beee"
            ]
        ]
    },
    {
        "id": "deed215fd6e4f8f2",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1470,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "dd26e12524ceb0cf",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ mqtttopic1, $string(mqttpayload1) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 960,
        "wires": [
            [
                "deed215fd6e4f8f2"
            ]
        ]
    },
    {
        "id": "543076d592aa93a6",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB2",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB2_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB2_BROKER\"),/wss/) or $contains($env(\"MQTT_GB2_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB2_VERIFYCERT\")) = 0 ? false : $env(\"MQTT_GB2_VERIFYCERT\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB2_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB2_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB2_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB2_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb2",
                "pt": "flow",
                "to": "GB2_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "1067ac263cbb3463"
            ]
        ]
    },
    {
        "id": "1067ac263cbb3463",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB2",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bd45a6d2a3028afd",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "bf7a987450cb06f7",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Not Cacheable ?",
        "property": "$contains(topic, \"recommended\") or (payload.properties.cache = false)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 1040,
        "wires": [
            [],
            [
                "814c7f3fed9c6c87"
            ]
        ]
    },
    {
        "id": "6effc579c4b9bbf3",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB2",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bd45a6d2a3028afd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "68d4df2b43657354"
            ]
        ]
    },
    {
        "id": "007578fcc8005f1a",
        "type": "rbe",
        "z": "9fcb3dc635318115",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 710,
        "y": 1040,
        "wires": [
            [
                "bf7a987450cb06f7"
            ]
        ]
    },
    {
        "id": "7157bb2dd11e8234",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1530,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "eefc0d32b16117f3",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ mqtttopic2, $string(mqttpayload2) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 1040,
        "wires": [
            [
                "7157bb2dd11e8234"
            ]
        ]
    },
    {
        "id": "e8e9918ab2ea8a60",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic1",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload1.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 960,
        "wires": [
            [
                "522e09cdb6843f51"
            ]
        ]
    },
    {
        "id": "522e09cdb6843f51",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1090,
        "y": 960,
        "wires": [
            [
                "1b8b7fb7e63be747"
            ]
        ]
    },
    {
        "id": "1b8b7fb7e63be747",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1210,
        "y": 960,
        "wires": [
            [
                "dd26e12524ceb0cf"
            ]
        ]
    },
    {
        "id": "814c7f3fed9c6c87",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic2",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload2.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1040,
        "wires": [
            [
                "aa5146ce5de05959"
            ]
        ]
    },
    {
        "id": "aa5146ce5de05959",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1150,
        "y": 1040,
        "wires": [
            [
                "573d857dca13c79d"
            ]
        ]
    },
    {
        "id": "573d857dca13c79d",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 1040,
        "wires": [
            [
                "eefc0d32b16117f3"
            ]
        ]
    },
    {
        "id": "68d4df2b43657354",
        "type": "delay",
        "z": "9fcb3dc635318115",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 615,
        "y": 1040,
        "wires": [
            [
                "007578fcc8005f1a"
            ]
        ],
        "l": false
    },
    {
        "id": "2ef8dc5b21e22705",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Filename",
        "rules": [
            {
                "t": "set",
                "p": "_logIO_",
                "pt": "msg",
                "to": "{\"dirName\":\"/log\",\"logLevel\":\"info\"}",
                "tot": "json"
            },
            {
                "t": "delete",
                "p": "pattern",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 2160,
        "wires": [
            [
                "b0efdc98fd94d239"
            ]
        ]
    },
    {
        "id": "faa16906389633bb",
        "type": "inject",
        "z": "9fcb3dc635318115",
        "name": "",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 2300,
        "wires": [
            [
                "092cca744b1adb95"
            ]
        ]
    },
    {
        "id": "25c1622b056610de",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "GET",
        "name": "GET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 670,
        "y": 2300,
        "wires": [
            [
                "ec02f2b62c3bc985"
            ]
        ]
    },
    {
        "id": "ec02f2b62c3bc985",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Null ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 2300,
        "wires": [
            [
                "ccbbb7ed97dd3b83"
            ]
        ]
    },
    {
        "id": "ccbbb7ed97dd3b83",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ topic, true, \"EX\", 172800 ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 2300,
        "wires": [
            [
                "b01e3302812b3d24"
            ]
        ]
    },
    {
        "id": "b01e3302812b3d24",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "SET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1030,
        "y": 2300,
        "wires": [
            [
                "ea2bb49ff7fad9b8"
            ]
        ]
    },
    {
        "id": "33f83fd4826f51a5",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle Pub",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_PUB_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_PUB_BROKER\"),/wss/) or $contains($env(\"MQTT_PUB_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_PUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_PUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_PUB_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_PUB_BROKERVERSION\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "c50bc1f1479503b7"
            ]
        ]
    },
    {
        "id": "c50bc1f1479503b7",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define Pub",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5481f3311ff3028d",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "40a77dbbc723fe60",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Pub ?",
        "property": "$length($env(\"MQTT_PUB_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "33f83fd4826f51a5"
            ]
        ]
    },
    {
        "id": "ea2bb49ff7fad9b8",
        "type": "function",
        "z": "9fcb3dc635318115",
        "name": "WMEM",
        "func": "const end = new Date(Date.now() - 60 * 60 * 1000);\n// zero out minutes, seconds, milliseconds\nend.setMinutes(59, 59, 999);\nconst rfc3339_end = end.toISOString();  \n\nconst start = new Date(Date.now() - 60 * 60 * 1000);\n// zero out minutes, seconds, milliseconds\nstart.setMinutes(0, 0, 0);\nconst rfc3339_start = start.toISOString();  \n\nconst now = new Date(); \nconst uuid = crypto.randomUUID();\n\nconst pad = n => String(n).padStart(2, \"0\");\n\nconst filename =\n    \"global-cache-\" +\n    start.getFullYear() + \"-\" +\n    pad(start.getMonth() + 1) + \"-\" +\n    pad(start.getDate()) + \"-\" +\n    pad(start.getHours()) +\n    \".log.gz\";\n\nmsg.payload = {\n    \"specversion\": \"1.0\",\n    \"type\": \"int.wmo.wis.wme.event\",\n    \"source\": flow.get(\"sensorid\"),\n    \"subject\": flow.get(\"sensorid\"),\n    \"id\": uuid,\n    \"time\": now,\n    \"datacontenttype\": \"application/json\",\n    \"dataschema\": \"https://schemas.wmo.int/wme/1.0.0/schemas/generic-data.json\",\n    \"data\": {\n        \"conformsTo\": [\n            \"https://wis.wmo.int/def/spec/scgc-logs\"\n        ],\n        \"time\": {\n            \"interval\": [\n                rfc3339_start, rfc3339_end\n            ]\n        },\n        \"severity\": \"INFO\",\n        \"links\": [{\n            \"rel\": \"canonical\",\n            \"type\": \"application/gzip\",\n            \"href\": flow.get(\"url\") + \"/\" + filename\n        }]\n    }\n}\n\nmsg.topic=\"monitor/a/wis2/\" + flow.get(\"sensorid\")\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 1160,
        "y": 2300,
        "wires": [
            [
                "1fb143f2a0e68701"
            ]
        ]
    },
    {
        "id": "1fb143f2a0e68701",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Monitor",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5481f3311ff3028d",
        "x": 1300,
        "y": 2300,
        "wires": []
    },
    {
        "id": "092cca744b1adb95",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Log",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "\"global-cache-\" & $fromMillis($millis() - 3600000, \"[Y0001]-[M01]-[D01]-[H01]\") & \".log.gz\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "filepath",
                "pt": "msg",
                "to": "\"/log/\" & filename",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"logfile:\" & filename",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 2300,
        "wires": [
            [
                "bca2a41b43ad1308"
            ]
        ]
    },
    {
        "id": "bca2a41b43ad1308",
        "type": "function",
        "z": "9fcb3dc635318115",
        "name": "File ?",
        "func": "const filename = msg.filepath;\n\nconst exists = fs.existsSync(filename);\n\nmsg.exists = exists\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 430,
        "y": 2300,
        "wires": [
            [
                "f755ba4a695f7069"
            ]
        ]
    },
    {
        "id": "f755ba4a695f7069",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "",
        "property": "exists",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 2300,
        "wires": [
            [
                "25c1622b056610de"
            ]
        ]
    }
]