flows.json
[
    {
        "id": "3462e18517f294e4",
        "type": "tab",
        "label": "CI/CD",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9fcb3dc635318115",
        "type": "tab",
        "label": "Sensor Global Cache",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd6837434fd7b3cb",
        "type": "redis-config",
        "name": "Redis",
        "options": "REDIS_URL",
        "cluster": false,
        "optionsType": "env"
    },
    {
        "id": "8af16e9d551a61eb",
        "type": "mqtt-broker",
        "name": "GB1",
        "broker": "\"\"",
        "port": " ",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a7877619083a1ee3",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_cache_delay_seconds",
        "help": "Delay to get the data in the cache",
        "labels": "global_cache,centre_id,report_by",
        "mtype": "gauge"
    },
    {
        "id": "5ff96cf14749d4c6",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_messages_cached_delay_total",
        "help": "Message cached",
        "labels": "global_cache,delay_threshold,centre_id,report_by",
        "mtype": "counter"
    },
    {
        "id": "d6314b59f8ceda2f",
        "type": "mqtt-broker",
        "name": "GB4",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "87cae6509a425ee7",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_messages_missed_total",
        "help": "Not in globalcache",
        "labels": "global_cache,centre_id,report_by",
        "mtype": "counter"
    },
    {
        "id": "84cd0deea504b109",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_messages_missed_all_total",
        "help": "Not in any cache",
        "labels": "centre_id,report_by",
        "mtype": "counter"
    },
    {
        "id": "18635c819fe0c4ee",
        "type": "mqtt-broker",
        "name": "GB3",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1d0ef4c6483c7efe",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_messages_published_total",
        "help": "Messages from origin",
        "labels": "centre_id,report_by,rel",
        "mtype": "counter"
    },
    {
        "id": "5742725833a2549a",
        "type": "logIO-logger",
        "name": "Log",
        "logLevel": "info",
        "isTimestampUTC": true,
        "logMeta": "none",
        "logMetaOptions": "",
        "logOutput": "file",
        "fileFileName": "global-cache-%DATE%.log",
        "fileDirName": "",
        "fileDatePattern": "YYYY-MM-DD-HH",
        "fileIsJsonFormat": true,
        "fileZippedArchive": true,
        "fileMaxSize": "500",
        "fileMaxSizeUnit": "m",
        "fileMaxFiles": "25",
        "fileMaxFilesUnit": "",
        "consoleIsJsonFormat": false,
        "elkUrl": "http://localhost:9200",
        "elkIndex": "node-red"
    },
    {
        "id": "ab2e2f87fc8b78d4",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_messages_duplicates_total",
        "help": "Number of messages with identical data_id and no \"rel=update\"",
        "labels": "centre_id,report_by",
        "mtype": "counter"
    },
    {
        "id": "bd45a6d2a3028afd",
        "type": "mqtt-broker",
        "name": "GB2",
        "broker": "\"\"",
        "port": "1883",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e3bccc1cf110ff16",
        "type": "global-config",
        "env": []
    },
    {
        "id": "5481f3311ff3028d",
        "type": "mqtt-broker",
        "name": "Pub",
        "broker": "\"\"",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "29ba581929826767",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_messages_cache_override_total",
        "help": "Message not cached override",
        "labels": "global_cache,centre_id,report_by",
        "mtype": "counter"
    },
    {
        "id": "cd6ec1cdc99b1de5",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_download_selected_total",
        "help": "Number of data files selected for download",
        "labels": "report_by",
        "mtype": "counter"
    },
    {
        "id": "bc213c9fdea8c6f6",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_download_successful_total",
        "help": "Number of data files successfully downloaded",
        "labels": "global_cache,report_by",
        "mtype": "counter"
    },
    {
        "id": "cefbe83260ed4899",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_messages_cached_total",
        "help": "Number of data files cached for centre_id",
        "labels": "global_cache,centre_id,report_by,rel",
        "mtype": "counter"
    },
    {
        "id": "761f72061fd14a3a",
        "type": "mqtt-broker",
        "name": "Test GC1",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aa5d7748a7cc7691",
        "type": "mqtt-broker",
        "name": "Test GC2",
        "broker": "\"\"",
        "port": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3e2a75606bc0774a",
        "type": "prometheus-metric-config",
        "name": "wmo_wis2_scgc_messages_early_total",
        "help": "Cache confirmation received before the corresponding origin message had been processed",
        "labels": "global_cache,centre_id,report_by",
        "mtype": "counter"
    },
    {
        "id": "15d0ec9bc2ce2c9c",
        "type": "inject",
        "z": "3462e18517f294e4",
        "name": "Update image:tag",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "d92bb90dbc47cc63"
            ]
        ]
    },
    {
        "id": "d92bb90dbc47cc63",
        "type": "function",
        "z": "3462e18517f294e4",
        "name": "Tag",
        "func": "// ── Configuration ─────────────────────────────────────────────\nconst IMAGE_NAME = env.get(\"NODE_RED_CONTAINER_NAME\");\nconst TAG_DIR = env.get(\"NODE_RED_CONTAINER_DIRECTORY\");\nconst TAG_FILE = `${TAG_DIR}/image:tag`;\n\nif (!IMAGE_NAME || !TAG_DIR) {\n    node.error(\"Missing required environment variables: NODE_RED_CONTAINER_NAME and/or NODE_RED_CONTAINER_DIRECTORY\");\n    return null;\n}\n// ──────────────────────────────────────────────────────────────\n\nconst now = new Date();\nconst curY = now.getFullYear();\nconst curM = now.getMonth() + 1;  // 1-12\n\nlet newTag;\n\nif (!fs.existsSync(TAG_FILE)) {\n    // File does not exist: create with YYYY.MM.1\n    newTag = `${curY}.${curM}.1`;\n\n} else {\n    const content = fs.readFileSync(TAG_FILE, 'utf8').trim();\n    // Expected format: imagename:YYYY.MM.patch\n    const match = content.match(/:(\\d+)\\.(\\d+)\\.(\\d+)$/);\n\n    if (!match) {\n        // Unreadable format: reset\n        newTag = `${curY}.${curM}.1`;\n\n    } else {\n        let [, fileY, fileM, fileP] = match.map(Number);\n\n        if (fileY === curY && fileM === curM) {\n            // Same year and month: bump patch\n            newTag = `${curY}.${curM}.${fileP + 1}`;\n\n        } else {\n            // Different month or year: compute next month\n            let nextY = fileY;\n            let nextM = fileM + 1;\n            if (nextM > 12) {\n                nextY += 1;\n                nextM = 1;\n            }\n            newTag = `${nextY}.${nextM}.1`;\n        }\n    }\n}\n\nconst fileContent = `${IMAGE_NAME}:${newTag}`;\nfs.writeFileSync(TAG_FILE, fileContent, 'utf8');\n\nmsg.payload = fileContent;\nnode.status({ fill: \"green\", shape: \"dot\", text: fileContent });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            },
            {
                "var": "path",
                "module": "path"
            }
        ],
        "x": 430,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "568c765b12630d5a",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Which ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^orig#.*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^wnm#.*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^wnmid#.*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^logfile#.*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^scgc#.*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 560,
        "y": 2100,
        "wires": [
            [
                "5c23a20c1171293c"
            ],
            [],
            [],
            [],
            [
                "b26fc71e5e4b963d"
            ]
        ]
    },
    {
        "id": "b26fc71e5e4b963d",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "$split(payload,\"#\")[2]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "globalcache",
                "pt": "msg",
                "to": "$split(payload,\"#\")[1]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "dataid",
                "pt": "msg",
                "to": "$split(payload,\"#\")[3]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"global_cache\": globalcache,\t      \"centre_id\":  centreid,        \t      \"report_by\": $flowContext(\"sensorid\")\t    },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 2120,
        "wires": [
            [
                "571f740a66401f2c"
            ]
        ]
    },
    {
        "id": "22e263de01f5f52f",
        "type": "inject",
        "z": "9fcb3dc635318115",
        "name": "Get Notifications",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"set\",\"notify-keyspace-events\",\"KEx\"]",
        "payloadType": "json",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "cff5e351d6a01d18"
            ]
        ]
    },
    {
        "id": "5c23a20c1171293c",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Key - Orig",
        "rules": [
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "$split(payload,\"#\")[1]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"data#\" & $substringAfter(payload,\"orig#\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "orig",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 2080,
        "wires": [
            [
                "443ca97e3b2a6192"
            ]
        ]
    },
    {
        "id": "ef52aac7153a7cd5",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "In a cache ?",
        "property": "$count($filter($flowContext(\"gc\"), function($v, $i, $a) {   $v in payload  }))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 2040,
        "wires": [
            [
                "d972d19f8d20ee7d"
            ],
            []
        ]
    },
    {
        "id": "568dfc3eeca101c6",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Del Payload",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 2080,
        "wires": [
            [
                "403a1066f87bedb1"
            ]
        ]
    },
    {
        "id": "d972d19f8d20ee7d",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t       \"centre_id\": centreid,\t       \"report_by\": $flowContext(\"sensorid\")\t    },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 2040,
        "wires": [
            [
                "3c682df2ec8a4bbe"
            ]
        ]
    },
    {
        "id": "9e28b01962ba1f2e",
        "type": "redis-in",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "psubscribe",
        "name": "",
        "topic": "__keyevent@0__:expired",
        "obj": true,
        "timeout": 0,
        "x": 370,
        "y": 2100,
        "wires": [
            [
                "568c765b12630d5a"
            ]
        ]
    },
    {
        "id": "cff5e351d6a01d18",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "CONFIG",
        "name": "Config",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "443ca97e3b2a6192",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HGETALL",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 880,
        "y": 2080,
        "wires": [
            [
                "ef52aac7153a7cd5",
                "568dfc3eeca101c6",
                "0756f7af4db61927"
            ]
        ]
    },
    {
        "id": "403a1066f87bedb1",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "DEL",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1220,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "571f740a66401f2c",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Not cached",
        "metric": "87cae6509a425ee7",
        "x": 870,
        "y": 2120,
        "wires": []
    },
    {
        "id": "3c682df2ec8a4bbe",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Not cached at all",
        "metric": "84cd0deea504b109",
        "x": 1410,
        "y": 2040,
        "wires": []
    },
    {
        "id": "de455b0922a8320c",
        "type": "inject",
        "z": "9fcb3dc635318115",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "40a77dbbc723fe60",
                "546305a3f542c340",
                "ac10d56f38ce5e50",
                "96c6c93b7eabf39a",
                "9ff745c3dd5a2d92",
                "cfb198e0e594ee16",
                "f5b56187480483c3"
            ]
        ]
    },
    {
        "id": "cbaf057b21b74d5e",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB1",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB1_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB1_BROKER\"),/wss/) or $contains($env(\"MQTT_GB1_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB1_VERIFYCERT\")) = 0 ? false : $env(\"MQTT_GB1_VERIFYCERT\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB1_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB1_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB1_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB1_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb1",
                "pt": "flow",
                "to": "GB1_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "6600d6a1be6e48c0"
            ]
        ]
    },
    {
        "id": "6600d6a1be6e48c0",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB1",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8af16e9d551a61eb",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "d25b573528bf41dd",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Not Cacheable ?",
        "property": "$contains(topic, \"recommended\") or (payload.properties.cache = false)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 440,
        "wires": [
            [],
            [
                "e8e9918ab2ea8a60"
            ]
        ]
    },
    {
        "id": "f53714198eb1e993",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB1",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8af16e9d551a61eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 790,
        "y": 440,
        "wires": [
            [
                "2d4daa951d924bcf"
            ]
        ]
    },
    {
        "id": "3100f7aa144dfebe",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "wth",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "wnm",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "$split(topic,\"/\")[3]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "dataid",
                "pt": "msg",
                "to": "payload.properties.data_id & \":\" & payload.properties.pubtime & \":\" & ( $exists(payload.properties.integrity.value) ? $substring($replace(payload.properties.integrity.value, \"/\", \"\"), 0, 12) : $replace(payload.properties.pubtime, /[^0-9]/, \"\") )",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rel",
                "pt": "msg",
                "to": "\"update\" in payload.links.rel ? \"update\" : \"canonical\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "pubtime",
                "pt": "msg",
                "to": "payload.properties.pubtime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "originkey",
                "pt": "msg",
                "to": "\"orig#\" & centreid & \"#\" & dataid & \"#\" & pubtime",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "orig",
                "pt": "msg",
                "to": "[\t   originkey,\t   dataid & \"#\" & pubtime,\t   \"EX\",\t   $flowContext(\"timeout_orig\")\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "hset_data",
                "pt": "msg",
                "to": "[\t   \"data#\" & centreid & \"#\" & dataid & \"#\" & pubtime,\t   \"origin\",\t   $millis(),\t   \"wnm\",\t   $string(wnm),\t   \"wth\",\t   wth\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": " \"wnm#\" & centreid & \"#\" & dataid",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "hset_wnm",
                "pt": "msg",
                "to": "[\t   topic,\t   pubtime,\t   $millis()\t]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1100,
        "wires": [
            [
                "06ca5006eca19380"
            ]
        ]
    },
    {
        "id": "0493ab6e0426e3f8",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t       \"centre_id\":  centreid,\t       \"report_by\": $flowContext(\"sensorid\"),\t       \"rel\": rel\t   },\t   \"val\":1 \t\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1180,
        "wires": [
            [
                "9b9c3b87553ee4b5"
            ]
        ]
    },
    {
        "id": "2d4daa951d924bcf",
        "type": "rbe",
        "z": "9fcb3dc635318115",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 910,
        "y": 440,
        "wires": [
            [
                "d25b573528bf41dd"
            ]
        ]
    },
    {
        "id": "9b9c3b87553ee4b5",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Origin",
        "metric": "1d0ef4c6483c7efe",
        "x": 810,
        "y": 1180,
        "wires": []
    },
    {
        "id": "8b4cd7d82c23beee",
        "type": "msg-speed",
        "z": "9fcb3dc635318115",
        "name": "Speed",
        "frequency": "sec",
        "interval": "10",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 450,
        "y": 1100,
        "wires": [
            [],
            [
                "3100f7aa144dfebe"
            ]
        ]
    },
    {
        "id": "b778150ac43b8303",
        "type": "delay",
        "z": "9fcb3dc635318115",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 535,
        "y": 540,
        "wires": [
            [
                "d9c563e17942b9a6",
                "ceb38b5ea1e2c7c1",
                "7d5b30d063a3d2d5",
                "eb6cea8c4c1bc946"
            ]
        ],
        "l": false
    },
    {
        "id": "06ca5006eca19380",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HGETALL",
        "name": "HGETALL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 720,
        "y": 1100,
        "wires": [
            [
                "371140a2f45f8846"
            ]
        ]
    },
    {
        "id": "371140a2f45f8846",
        "type": "link out",
        "z": "9fcb3dc635318115",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "13a3a1072b158c5c"
        ],
        "x": 815,
        "y": 1100,
        "wires": []
    },
    {
        "id": "13a3a1072b158c5c",
        "type": "link in",
        "z": "9fcb3dc635318115",
        "name": "link in 6",
        "links": [
            "371140a2f45f8846"
        ],
        "x": 355,
        "y": 1320,
        "wires": [
            [
                "d5bb69f4d4f8c1b4"
            ]
        ]
    },
    {
        "id": "d5bb69f4d4f8c1b4",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Empty ?",
        "property": "$count(payload)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 1320,
        "wires": [
            [
                "0493ab6e0426e3f8",
                "cef2c72c82999154"
            ],
            [
                "da9042e45b74ed1c"
            ]
        ]
    },
    {
        "id": "47515d621ebc39f1",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Pubtime up ?",
        "property": "$reduce( $map(pubtime_keys, function($value) { $value < pubtime }), function($result, $value) { $result and $value }, true )",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 800,
        "y": 1440,
        "wires": [
            [
                "a85bf3a7164bde23"
            ],
            []
        ]
    },
    {
        "id": "da9042e45b74ed1c",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Keys",
        "rules": [
            {
                "t": "set",
                "p": "pubtime_keys",
                "pt": "msg",
                "to": "$filter(payload, function($value, $index) { $index % 2 = 0 } )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1440,
        "wires": [
            [
                "47515d621ebc39f1"
            ]
        ]
    },
    {
        "id": "a85bf3a7164bde23",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Update ?",
        "property": "rel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "update",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "canonical",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 960,
        "y": 1440,
        "wires": [
            [
                "e17647d5392269e9"
            ],
            [
                "30e12522f009eef0"
            ]
        ]
    },
    {
        "id": "e17647d5392269e9",
        "type": "link out",
        "z": "9fcb3dc635318115",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "eb5263f7a5df0484"
        ],
        "x": 1055,
        "y": 1420,
        "wires": []
    },
    {
        "id": "eb5263f7a5df0484",
        "type": "link in",
        "z": "9fcb3dc635318115",
        "name": "link in 7",
        "links": [
            "e17647d5392269e9"
        ],
        "x": 615,
        "y": 1360,
        "wires": [
            [
                "cef2c72c82999154"
            ]
        ]
    },
    {
        "id": "30e12522f009eef0",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t       \"centre_id\":  centreid,        \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\":1 \t\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1460,
        "wires": [
            [
                "e3c16ea751473a08"
            ]
        ]
    },
    {
        "id": "e3c16ea751473a08",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Duplicate",
        "metric": "ab2e2f87fc8b78d4",
        "x": 1260,
        "y": 1460,
        "wires": []
    },
    {
        "id": "c2cfa8d7adb26eae",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Log ?",
        "property": "log",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 2260,
        "wires": [
            [
                "bbadfa05cca00d92"
            ]
        ]
    },
    {
        "id": "b0efdc98fd94d239",
        "type": "logIO",
        "z": "9fcb3dc635318115",
        "name": "Log",
        "active": true,
        "logger": "5742725833a2549a",
        "complete": "payload",
        "targetType": "msg",
        "logIOMode": "inline",
        "logIOScope": "I",
        "autoStart": true,
        "scope": [],
        "x": 1500,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "7393b90c797c185f",
        "type": "redis-in",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "psubscribe",
        "name": "Sub Origin",
        "topic": "origin/*",
        "obj": true,
        "timeout": 0,
        "x": 320,
        "y": 1100,
        "wires": [
            [
                "8b4cd7d82c23beee"
            ]
        ]
    },
    {
        "id": "deed215fd6e4f8f2",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1730,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "dd26e12524ceb0cf",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ mqtttopic1, $string(mqttpayload1) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 440,
        "wires": [
            [
                "deed215fd6e4f8f2"
            ]
        ]
    },
    {
        "id": "543076d592aa93a6",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB2",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB2_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB2_BROKER\"),/wss/) or $contains($env(\"MQTT_GB2_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB2_VERIFYCERT\")) = 0 ? false : $env(\"MQTT_GB2_VERIFYCERT\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB2_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB2_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB2_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB2_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb2",
                "pt": "flow",
                "to": "GB2_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "1067ac263cbb3463"
            ]
        ]
    },
    {
        "id": "1067ac263cbb3463",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB2",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bd45a6d2a3028afd",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "bf7a987450cb06f7",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Not Cacheable ?",
        "property": "$contains(topic, \"recommended\") or (payload.properties.cache = false)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 500,
        "wires": [
            [],
            [
                "814c7f3fed9c6c87"
            ]
        ]
    },
    {
        "id": "6effc579c4b9bbf3",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB2",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bd45a6d2a3028afd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 790,
        "y": 500,
        "wires": [
            [
                "68d4df2b43657354"
            ]
        ]
    },
    {
        "id": "007578fcc8005f1a",
        "type": "rbe",
        "z": "9fcb3dc635318115",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 970,
        "y": 500,
        "wires": [
            [
                "bf7a987450cb06f7"
            ]
        ]
    },
    {
        "id": "7157bb2dd11e8234",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1790,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "eefc0d32b16117f3",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ mqtttopic2, $string(mqttpayload2) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1660,
        "y": 500,
        "wires": [
            [
                "7157bb2dd11e8234"
            ]
        ]
    },
    {
        "id": "e8e9918ab2ea8a60",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic1",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload1.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 440,
        "wires": [
            [
                "522e09cdb6843f51"
            ]
        ]
    },
    {
        "id": "522e09cdb6843f51",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "1b8b7fb7e63be747"
            ]
        ]
    },
    {
        "id": "1b8b7fb7e63be747",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1470,
        "y": 440,
        "wires": [
            [
                "dd26e12524ceb0cf"
            ]
        ]
    },
    {
        "id": "814c7f3fed9c6c87",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic2",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload2.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 500,
        "wires": [
            [
                "aa5146ce5de05959"
            ]
        ]
    },
    {
        "id": "aa5146ce5de05959",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1410,
        "y": 500,
        "wires": [
            [
                "573d857dca13c79d"
            ]
        ]
    },
    {
        "id": "573d857dca13c79d",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1530,
        "y": 500,
        "wires": [
            [
                "eefc0d32b16117f3"
            ]
        ]
    },
    {
        "id": "68d4df2b43657354",
        "type": "delay",
        "z": "9fcb3dc635318115",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 875,
        "y": 500,
        "wires": [
            [
                "007578fcc8005f1a"
            ]
        ],
        "l": false
    },
    {
        "id": "2ef8dc5b21e22705",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Filename",
        "rules": [
            {
                "t": "set",
                "p": "_logIO_",
                "pt": "msg",
                "to": "{\"dirName\":\"/log\",\"logLevel\":\"info\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 2260,
        "wires": [
            [
                "b0efdc98fd94d239"
            ]
        ]
    },
    {
        "id": "faa16906389633bb",
        "type": "inject",
        "z": "9fcb3dc635318115",
        "name": "",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 2400,
        "wires": [
            [
                "0ea5fdf6fea777fa"
            ]
        ]
    },
    {
        "id": "25c1622b056610de",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "GET",
        "name": "GET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 930,
        "y": 2400,
        "wires": [
            [
                "ec02f2b62c3bc985"
            ]
        ]
    },
    {
        "id": "ec02f2b62c3bc985",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Null ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1050,
        "y": 2400,
        "wires": [
            [
                "ccbbb7ed97dd3b83"
            ]
        ]
    },
    {
        "id": "ccbbb7ed97dd3b83",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ topic, true, \"EX\", 172800 ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 2400,
        "wires": [
            [
                "b01e3302812b3d24"
            ]
        ]
    },
    {
        "id": "b01e3302812b3d24",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "SET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1290,
        "y": 2400,
        "wires": [
            [
                "ea2bb49ff7fad9b8"
            ]
        ]
    },
    {
        "id": "33f83fd4826f51a5",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle Pub",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_PUB_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_PUB_BROKER\"),/wss/) or $contains($env(\"MQTT_PUB_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_PUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_PUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_PUB_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_PUB_BROKERVERSION\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "c50bc1f1479503b7"
            ]
        ]
    },
    {
        "id": "c50bc1f1479503b7",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define Pub",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5481f3311ff3028d",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "40a77dbbc723fe60",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Pub ?",
        "property": "$length($env(\"MQTT_PUB_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "33f83fd4826f51a5"
            ]
        ]
    },
    {
        "id": "ea2bb49ff7fad9b8",
        "type": "function",
        "z": "9fcb3dc635318115",
        "name": "WMEM",
        "func": "const end = new Date(Date.now() - 60 * 60 * 1000);\n// zero out minutes, seconds, milliseconds\nend.setMinutes(59, 59, 999);\nconst rfc3339_end = end.toISOString();  \n\nconst start = new Date(Date.now() - 60 * 60 * 1000);\n// zero out minutes, seconds, milliseconds\nstart.setMinutes(0, 0, 0);\nconst rfc3339_start = start.toISOString();  \n\nconst now = new Date(); \nconst uuid = crypto.randomUUID();\n\nconst filename = msg.filename;\n\nconst length = msg.size;\n\nmsg.payload = {\n    \"specversion\": \"1.0\",\n    \"type\": \"int.wmo.wis.wme.event.log\",\n    \"source\": flow.get(\"sensorid\"),\n    \"subject\": flow.get(\"sensorid\"),\n    \"id\": uuid,\n    \"time\": now,\n    \"datacontenttype\": \"application/json\",\n    \"dataschema\": \"https://schemas.wmo.int/wme/1.0.0/schemas/wis2-event-message-encoding-bundled.json\",\n    \"data\": {\n        \"conformsTo\": [\n            \"http://wis.wmo.int/spec/wme/1/conf/monitoring-event-message-encoding-core\"\n        ],\n        \"time\": {\n            \"interval\": [\n                rfc3339_start, rfc3339_end\n            ]\n        },\n        \"severity\": \"INFO\",\n        \"links\": [{\n            \"rel\": \"canonical\",\n            \"type\": \"application/gzip\",\n            \"href\": flow.get(\"url\") + \"/\" + filename,\n            \"length\": length\n        }]\n    }\n}\n\nmsg.topic=\"monitor/a/wis2/\" + flow.get(\"sensorid\")\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 1420,
        "y": 2400,
        "wires": [
            [
                "1fb143f2a0e68701"
            ]
        ]
    },
    {
        "id": "1fb143f2a0e68701",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Monitor",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5481f3311ff3028d",
        "x": 1560,
        "y": 2400,
        "wires": []
    },
    {
        "id": "092cca744b1adb95",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Log",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "\"global-cache-\" & $fromMillis($millis() - 3600000, \"[Y0001]-[M01]-[D01]-[H01]\") & \".log.gz\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "filepath",
                "pt": "msg",
                "to": "\"/log/\" & filename",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"logfile:\" & filename",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 2400,
        "wires": [
            [
                "bca2a41b43ad1308"
            ]
        ]
    },
    {
        "id": "bca2a41b43ad1308",
        "type": "function",
        "z": "9fcb3dc635318115",
        "name": "File ?",
        "func": "const filename = msg.filepath;\n\nconst exists = fs.existsSync(filename);\n\nmsg.exists = exists\n\nif (exists) {\n    const stats = fs.statSync(filename);\n    msg.size = stats.size; // size in bytes\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 670,
        "y": 2400,
        "wires": [
            [
                "f755ba4a695f7069"
            ]
        ]
    },
    {
        "id": "f755ba4a695f7069",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Exists ?",
        "property": "exists",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 800,
        "y": 2400,
        "wires": [
            [
                "25c1622b056610de"
            ]
        ]
    },
    {
        "id": "a323f69fd3faba27",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB3",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB3_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB3_BROKER\"),/wss/) or $contains($env(\"MQTT_GB3_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB3_VERIFYCERT\")) = 0 ? false : $env(\"MQTT_GB3_VERIFYCERT\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB3_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB3_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB3_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB3_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb3",
                "pt": "flow",
                "to": "GB3_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "4acc9c68e853f923"
            ]
        ]
    },
    {
        "id": "4acc9c68e853f923",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB3",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "18635c819fe0c4ee",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "9804814461f57c60",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle GB4",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_GB4_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_GB4_BROKER\"),/wss/) or $contains($env(\"MQTT_GB4_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB4_VERIFYCERT\")) = 0 ? false : $env(\"MQTT_GB4_VERIFYCERT\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_GB4_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_GB4_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_GB4_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_GB4_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb4",
                "pt": "flow",
                "to": "GB4_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "aa9138632819c6cc"
            ]
        ]
    },
    {
        "id": "aa9138632819c6cc",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define GB4",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6314b59f8ceda2f",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "99247b2068ea35f1",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Not Cacheable ?",
        "property": "$contains(topic, \"recommended\") or (payload.properties.cache = false)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 560,
        "wires": [
            [],
            [
                "99422103905cace4"
            ]
        ]
    },
    {
        "id": "3504141db388c44b",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB3",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "18635c819fe0c4ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 790,
        "y": 560,
        "wires": [
            [
                "2aa518f36852ced2"
            ]
        ]
    },
    {
        "id": "9db24d3ad92f1147",
        "type": "rbe",
        "z": "9fcb3dc635318115",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 970,
        "y": 560,
        "wires": [
            [
                "99247b2068ea35f1"
            ]
        ]
    },
    {
        "id": "c9458520b8536694",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1790,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "7faa915477fdd653",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ mqtttopic3, $string(mqttpayload3) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1660,
        "y": 560,
        "wires": [
            [
                "c9458520b8536694"
            ]
        ]
    },
    {
        "id": "eb035dd355066b34",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Not Cacheable ?",
        "property": "$contains(topic, \"recommended\") or (payload.properties.cache = false)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 620,
        "wires": [
            [],
            [
                "fc117630f986176e"
            ]
        ]
    },
    {
        "id": "be18022f35a5eb5c",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB4",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d6314b59f8ceda2f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 790,
        "y": 620,
        "wires": [
            [
                "2354f2ce021b50f8"
            ]
        ]
    },
    {
        "id": "e5a7bade62bbe00b",
        "type": "rbe",
        "z": "9fcb3dc635318115",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 970,
        "y": 620,
        "wires": [
            [
                "eb035dd355066b34"
            ]
        ]
    },
    {
        "id": "845d028fc41273dc",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1790,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "100689d9f1fbb0d5",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ mqtttopic4, $string(mqttpayload4) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1660,
        "y": 620,
        "wires": [
            [
                "845d028fc41273dc"
            ]
        ]
    },
    {
        "id": "99422103905cace4",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload3",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic3",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload3.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 560,
        "wires": [
            [
                "03778f93344ab7af"
            ]
        ]
    },
    {
        "id": "03778f93344ab7af",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1410,
        "y": 560,
        "wires": [
            [
                "9c9704b83cc3c17d"
            ]
        ]
    },
    {
        "id": "9c9704b83cc3c17d",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1530,
        "y": 560,
        "wires": [
            [
                "7faa915477fdd653"
            ]
        ]
    },
    {
        "id": "fc117630f986176e",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload4",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic4",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload4.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 620,
        "wires": [
            [
                "907216bfd09f264b"
            ]
        ]
    },
    {
        "id": "907216bfd09f264b",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1410,
        "y": 620,
        "wires": [
            [
                "d91912010b3224cb"
            ]
        ]
    },
    {
        "id": "d91912010b3224cb",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1530,
        "y": 620,
        "wires": [
            [
                "100689d9f1fbb0d5"
            ]
        ]
    },
    {
        "id": "2354f2ce021b50f8",
        "type": "delay",
        "z": "9fcb3dc635318115",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 875,
        "y": 620,
        "wires": [
            [
                "e5a7bade62bbe00b"
            ]
        ],
        "l": false
    },
    {
        "id": "2aa518f36852ced2",
        "type": "delay",
        "z": "9fcb3dc635318115",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 875,
        "y": 560,
        "wires": [
            [
                "9db24d3ad92f1147"
            ]
        ],
        "l": false
    },
    {
        "id": "27a1404b41321162",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB1",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8af16e9d551a61eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 790,
        "y": 700,
        "wires": [
            [
                "dd0478a83bff4961"
            ]
        ]
    },
    {
        "id": "dd0478a83bff4961",
        "type": "rbe",
        "z": "9fcb3dc635318115",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 910,
        "y": 700,
        "wires": [
            [
                "d4010e77e9843339"
            ]
        ]
    },
    {
        "id": "7c26d6dd35e39810",
        "type": "delay",
        "z": "9fcb3dc635318115",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 535,
        "y": 800,
        "wires": [
            [
                "522934166b583a69",
                "91d83d5810df2840",
                "3ebbb9bb589c9146",
                "6f55177cd9f93b49",
                "3291feb549ad66c8",
                "7a4c970a80949751"
            ]
        ],
        "l": false
    },
    {
        "id": "626b32331304383e",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1530,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "fb6df34acb41ee8e",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ mqtttopic1, $string(mqttpayload1) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 700,
        "wires": [
            [
                "626b32331304383e"
            ]
        ]
    },
    {
        "id": "36e9675cf835c160",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB2",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bd45a6d2a3028afd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 790,
        "y": 760,
        "wires": [
            [
                "231fb7471f6604a0"
            ]
        ]
    },
    {
        "id": "c63be59788b2d805",
        "type": "rbe",
        "z": "9fcb3dc635318115",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 970,
        "y": 760,
        "wires": [
            [
                "6cde4b13e16412c2"
            ]
        ]
    },
    {
        "id": "a3db46acd86c6f27",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1610,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "fbf127a63fd2eedc",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ mqtttopic2, $string(mqttpayload2) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 760,
        "wires": [
            [
                "a3db46acd86c6f27"
            ]
        ]
    },
    {
        "id": "d4010e77e9843339",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic1",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload1.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 700,
        "wires": [
            [
                "e2c1fab5f0bfb317"
            ]
        ]
    },
    {
        "id": "e2c1fab5f0bfb317",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1150,
        "y": 700,
        "wires": [
            [
                "2c9f94406fd2ee81"
            ]
        ]
    },
    {
        "id": "2c9f94406fd2ee81",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 700,
        "wires": [
            [
                "fb6df34acb41ee8e"
            ]
        ]
    },
    {
        "id": "6cde4b13e16412c2",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic2",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload2.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 760,
        "wires": [
            [
                "e09021d035e82e48"
            ]
        ]
    },
    {
        "id": "e09021d035e82e48",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1230,
        "y": 760,
        "wires": [
            [
                "f0e7920b1c15b87d"
            ]
        ]
    },
    {
        "id": "f0e7920b1c15b87d",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1350,
        "y": 760,
        "wires": [
            [
                "fbf127a63fd2eedc"
            ]
        ]
    },
    {
        "id": "231fb7471f6604a0",
        "type": "delay",
        "z": "9fcb3dc635318115",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 875,
        "y": 760,
        "wires": [
            [
                "c63be59788b2d805"
            ]
        ],
        "l": false
    },
    {
        "id": "897843f52a2d52ca",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB3",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "18635c819fe0c4ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 790,
        "y": 820,
        "wires": [
            [
                "4c99df4a8073d30e"
            ]
        ]
    },
    {
        "id": "b5c5bcdedc1beafe",
        "type": "rbe",
        "z": "9fcb3dc635318115",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 970,
        "y": 820,
        "wires": [
            [
                "6a94f5e72ff0ad47"
            ]
        ]
    },
    {
        "id": "17671f18e35c0e8d",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1610,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "b0d5c6cc4e425701",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ mqtttopic3, $string(mqttpayload3) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 820,
        "wires": [
            [
                "17671f18e35c0e8d"
            ]
        ]
    },
    {
        "id": "36da551a5ec1f88b",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "GB4",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d6314b59f8ceda2f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 790,
        "y": 880,
        "wires": [
            [
                "95c13ebcf945b71d"
            ]
        ]
    },
    {
        "id": "12e815cf752c7442",
        "type": "rbe",
        "z": "9fcb3dc635318115",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 970,
        "y": 880,
        "wires": [
            [
                "c42c916af6051bcc"
            ]
        ]
    },
    {
        "id": "0c12637dbe70782d",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1610,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "4dc7e977af78d651",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ mqtttopic4, $string(mqttpayload4) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 880,
        "wires": [
            [
                "0c12637dbe70782d"
            ]
        ]
    },
    {
        "id": "6a94f5e72ff0ad47",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload3",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic3",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload3.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 820,
        "wires": [
            [
                "b962ec68cbf3c851"
            ]
        ]
    },
    {
        "id": "b962ec68cbf3c851",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1230,
        "y": 820,
        "wires": [
            [
                "aaa10816d22cf356"
            ]
        ]
    },
    {
        "id": "aaa10816d22cf356",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1350,
        "y": 820,
        "wires": [
            [
                "b0d5c6cc4e425701"
            ]
        ]
    },
    {
        "id": "c42c916af6051bcc",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload4",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic4",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload4.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 880,
        "wires": [
            [
                "eadcb45ef4ab91b7"
            ]
        ]
    },
    {
        "id": "eadcb45ef4ab91b7",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1230,
        "y": 880,
        "wires": [
            [
                "56751e515c6471d4"
            ]
        ]
    },
    {
        "id": "56751e515c6471d4",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1350,
        "y": 880,
        "wires": [
            [
                "4dc7e977af78d651"
            ]
        ]
    },
    {
        "id": "95c13ebcf945b71d",
        "type": "delay",
        "z": "9fcb3dc635318115",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 875,
        "y": 880,
        "wires": [
            [
                "12e815cf752c7442"
            ]
        ],
        "l": false
    },
    {
        "id": "4c99df4a8073d30e",
        "type": "delay",
        "z": "9fcb3dc635318115",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 875,
        "y": 820,
        "wires": [
            [
                "b5c5bcdedc1beafe"
            ]
        ],
        "l": false
    },
    {
        "id": "6848aed8fc0576ef",
        "type": "msg-speed",
        "z": "9fcb3dc635318115",
        "name": "Speed",
        "frequency": "sec",
        "interval": "10",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "topicDependent": false,
        "x": 450,
        "y": 1660,
        "wires": [
            [],
            [
                "61eacaa0e5d09085"
            ]
        ]
    },
    {
        "id": "75543d31f3197441",
        "type": "redis-in",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "psubscribe",
        "name": "Sub Cache",
        "topic": "cache/*",
        "obj": true,
        "timeout": 0,
        "x": 320,
        "y": 1660,
        "wires": [
            [
                "6848aed8fc0576ef"
            ]
        ]
    },
    {
        "id": "61eacaa0e5d09085",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Cache",
        "rules": [
            {
                "t": "set",
                "p": "cache",
                "pt": "msg",
                "to": "payload.properties.global-cache",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "msg",
                "to": "sensorid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 1660,
        "wires": [
            [
                "94b8e6879433ceb8"
            ]
        ]
    },
    {
        "id": "662ddb5376824c47",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Delay",
        "property": "( $millis() - $number(msg.payload) ) / 1000 ",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "lte",
                "v": "delay1",
                "vt": "flow"
            },
            {
                "t": "lte",
                "v": "delay2",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 1470,
        "y": 1600,
        "wires": [
            [
                "1d9ee046916c5093"
            ],
            [
                "4043154d2b58a1f9"
            ],
            [
                "46de086332063a8f"
            ]
        ]
    },
    {
        "id": "1d9ee046916c5093",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus - 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"global_cache\": cache,\t      \"delay_threshold\": $flowContext(\"delay1\"),\t      \"centre_id\":  centreid,\t      \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 1560,
        "wires": [
            [
                "171c492628d9b58a"
            ]
        ]
    },
    {
        "id": "1b78be8146d340c5",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Get",
        "rules": [
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "$split(topic,\"/\")[3]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "data_id",
                "pt": "msg",
                "to": "payload.properties.data_id & \":\" & payload.properties.pubtime & \":\" & (\t   $exists(payload.properties.integrity.value) ? $substring(\t       $replace(\t           payload.properties.integrity.value,\t           \"/\",\t           \"\"\t       ),\t       0,\t       12\t   ) : $replace(\t       payload.properties.pubtime,\t       /[^0-9]/,\t       \"\"\t   ) \t)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"scgc#\" & cache & \"#\" & centreid & \"#\" & data_id & \"#\" & payload.properties.pubtime",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "hset",
                "pt": "msg",
                "to": "[\t   \"data#\" & centreid & \"#\" & data_id & \"#\" & payload.properties.pubtime,\t   cache,\t   $millis()\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "orig_wnm",
                "pt": "msg",
                "to": "[\t   \"data#\" & centreid & \"#\" & data_id & \"#\" & payload.properties.pubtime,\t   \"wnm\"\t]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "cache_links",
                "pt": "msg",
                "to": "payload.links",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1660,
        "wires": [
            [
                "9ba4a782ac8e84c4"
            ]
        ]
    },
    {
        "id": "9220ddbcf828c9e8",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Del",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 1720,
        "wires": [
            [
                "1cdbb9cdb172d888"
            ]
        ]
    },
    {
        "id": "1bb29eabe5e41ef7",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Expired ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1260,
        "y": 1660,
        "wires": [
            [
                "9220ddbcf828c9e8",
                "662ddb5376824c47",
                "679b924436eb59b8",
                "22a1f2a706594e52",
                "299aa5b44f00a5e0",
                "f9b62a35da0ee834"
            ],
            [
                "62faa38b6e929de3"
            ]
        ]
    },
    {
        "id": "4043154d2b58a1f9",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus - 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"global_cache\": cache,\t      \"delay_threshold\": $flowContext(\"delay2\"),\t      \"centre_id\":  centreid,\t      \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 1600,
        "wires": [
            [
                "171c492628d9b58a"
            ]
        ]
    },
    {
        "id": "46de086332063a8f",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus - 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"global_cache\": cache,\t      \"delay_threshold\": $flowContext(\"timeout_cache\"),\t      \"centre_id\":  centreid,\t      \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 1640,
        "wires": [
            [
                "171c492628d9b58a"
            ]
        ]
    },
    {
        "id": "94b8e6879433ceb8",
        "type": "delay",
        "z": "9fcb3dc635318115",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 655,
        "y": 1660,
        "wires": [
            [
                "096102aedaba66a8"
            ]
        ],
        "l": false
    },
    {
        "id": "679b924436eb59b8",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Hset",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$append(hset, [   cache & \":url\",   url ])",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 1680,
        "wires": [
            [
                "68a901019451b22a"
            ]
        ]
    },
    {
        "id": "1cdbb9cdb172d888",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "DEL",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1600,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "efc9758439cc50e8",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "GET",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1120,
        "y": 1660,
        "wires": [
            [
                "1bb29eabe5e41ef7"
            ]
        ]
    },
    {
        "id": "68a901019451b22a",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HSET",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1610,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "06c3f4227bfc40f4",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Delay",
        "metric": "a7877619083a1ee3",
        "x": 1630,
        "y": 1480,
        "wires": []
    },
    {
        "id": "171c492628d9b58a",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Threshold",
        "metric": "5ff96cf14749d4c6",
        "x": 1820,
        "y": 1600,
        "wires": []
    },
    {
        "id": "64920f2a57493b69",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "WNM",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "orig_wnm",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1820,
        "wires": [
            [
                "e2100652e6064386"
            ]
        ]
    },
    {
        "id": "e2100652e6064386",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HGET",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 510,
        "y": 1820,
        "wires": [
            [
                "01063ded698937d5"
            ]
        ]
    },
    {
        "id": "01063ded698937d5",
        "type": "json",
        "z": "9fcb3dc635318115",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 1820,
        "wires": [
            [
                "b7db4642551df00f"
            ]
        ]
    },
    {
        "id": "b7db4642551df00f",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Links",
        "rules": [
            {
                "t": "set",
                "p": "orig_links",
                "pt": "msg",
                "to": "payload.links",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1820,
        "wires": [
            [
                "49affbb497b9aa30"
            ]
        ]
    },
    {
        "id": "22a1f2a706594e52",
        "type": "link out",
        "z": "9fcb3dc635318115",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "21c28195bdcee16d"
        ],
        "x": 1435,
        "y": 1760,
        "wires": []
    },
    {
        "id": "21c28195bdcee16d",
        "type": "link in",
        "z": "9fcb3dc635318115",
        "name": "link in 11",
        "links": [
            "22a1f2a706594e52"
        ],
        "x": 275,
        "y": 1820,
        "wires": [
            [
                "64920f2a57493b69"
            ]
        ]
    },
    {
        "id": "49affbb497b9aa30",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Cached ?",
        "property": "orig_links",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "cache_links",
                "vt": "msg"
            },
            {
                "t": "jsonata_exp",
                "v": "cache",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 900,
        "y": 1820,
        "wires": [
            [],
            [
                "79cd899f16701066"
            ]
        ]
    },
    {
        "id": "66e67687a51efca3",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Cache override",
        "metric": "29ba581929826767",
        "x": 1220,
        "y": 1820,
        "wires": []
    },
    {
        "id": "79cd899f16701066",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"global_cache\": cache,\t      \"centre_id\":  centreid,\t      \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1820,
        "wires": [
            [
                "66e67687a51efca3"
            ]
        ]
    },
    {
        "id": "096102aedaba66a8",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GC ?",
        "property": "cache in $flowContext(\"gc\")",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1660,
        "wires": [
            [
                "1b78be8146d340c5"
            ]
        ]
    },
    {
        "id": "9ff745c3dd5a2d92",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 1 ?",
        "property": "$length($env(\"MQTT_GB1_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "cbaf057b21b74d5e"
            ]
        ]
    },
    {
        "id": "96c6c93b7eabf39a",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 2 ?",
        "property": "$length($env(\"MQTT_GB2_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "543076d592aa93a6"
            ]
        ]
    },
    {
        "id": "ac10d56f38ce5e50",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 3 ?",
        "property": "$length($env(\"MQTT_GB3_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "a323f69fd3faba27"
            ]
        ]
    },
    {
        "id": "546305a3f542c340",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 4 ?",
        "property": "$length($env(\"MQTT_GB4_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "9804814461f57c60"
            ]
        ]
    },
    {
        "id": "d9c563e17942b9a6",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 1 ?",
        "property": "$length($env(\"MQTT_GB1_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 440,
        "wires": [
            [
                "f53714198eb1e993"
            ]
        ]
    },
    {
        "id": "ceb38b5ea1e2c7c1",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 2 ?",
        "property": "$length($env(\"MQTT_GB2_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 500,
        "wires": [
            [
                "6effc579c4b9bbf3"
            ]
        ]
    },
    {
        "id": "7d5b30d063a3d2d5",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 3 ?",
        "property": "$length($env(\"MQTT_GB3_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 560,
        "wires": [
            [
                "3504141db388c44b"
            ]
        ]
    },
    {
        "id": "eb6cea8c4c1bc946",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 4 ?",
        "property": "$length($env(\"MQTT_GB4_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 620,
        "wires": [
            [
                "be18022f35a5eb5c"
            ]
        ]
    },
    {
        "id": "6f55177cd9f93b49",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 1 ?",
        "property": "$length($env(\"MQTT_GB1_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 700,
        "wires": [
            [
                "27a1404b41321162"
            ]
        ]
    },
    {
        "id": "3ebbb9bb589c9146",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 2 ?",
        "property": "$length($env(\"MQTT_GB2_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 760,
        "wires": [
            [
                "36e9675cf835c160"
            ]
        ]
    },
    {
        "id": "91d83d5810df2840",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 3 ?",
        "property": "$length($env(\"MQTT_GB3_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 820,
        "wires": [
            [
                "897843f52a2d52ca"
            ]
        ]
    },
    {
        "id": "522934166b583a69",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "GB 4 ?",
        "property": "$length($env(\"MQTT_GB4_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 880,
        "wires": [
            [
                "36da551a5ec1f88b"
            ]
        ]
    },
    {
        "id": "9743a79a96fdefbc",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Sampled ?",
        "property": "sampled",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1190,
        "y": 2120,
        "wires": [
            [
                "3d2d7f0f1534dbae"
            ],
            [
                "2061db0db43e1b41"
            ]
        ]
    },
    {
        "id": "0756f7af4db61927",
        "type": "function",
        "z": "9fcb3dc635318115",
        "name": "M & S",
        "func": "const keys = flow.get(\"gc\") || [];\nconst testKeys = flow.get(\"gc_test\") || [];\nconst mixed = msg.payload;\nconst centreid = msg.centreid;\n\nlet complete = true;\nmsg.sampled = false;\n\n// Convert mixed array to key-value map\nconst resultMap = {};\nfor (let i = 0; i < mixed.length; i += 2) {\n    resultMap[mixed[i]] = mixed[i + 1];\n}\n\n// Add missing keys with value 9999999999999\n// Test GCs are still recorded (for Download / metrics) but don't block completeness.\nkeys.forEach(key => {\n    if (!(key in resultMap)) {\n        resultMap[key] = \"9999999999999\";\n        if (!testKeys.includes(key)) {\n            complete = false;\n        }\n    }\n});\n\n// Add centre-id\nresultMap[\"centre-id\"] = centreid;\n\n// Parse wnm\nconst parsedWnm = JSON.parse(resultMap[\"wnm\"]);\nresultMap[\"wnm\"] = parsedWnm;\n\nObject.freeze(parsedWnm);\nObject.freeze(resultMap);\n\nmsg.payload = resultMap;\n\n// Always maintain the rate limit window\nconst now = Date.now();\nconst current1min = Math.floor(now / 60000);\nlet periodCount = flow.get(\"samplePeriodCount\") || 0;\nlet periodSlot = flow.get(\"samplePeriodSlot\") || 0;\n\nif (current1min !== periodSlot) {\n    periodCount = 0;\n    flow.set(\"samplePeriodSlot\", current1min);\n    flow.set(\"samplePeriodCount\", periodCount);\n}\n\nif (complete) {\n    const integrity = parsedWnm?.properties?.integrity;\n    const canonicalLink = parsedWnm?.links?.find(\n        link => link.rel === \"canonical\" && link.length != null\n    );\n\n    if (periodCount < 5 && integrity?.method && integrity?.value && canonicalLink && canonicalLink.length <= 20000) {\n        msg.method = integrity.method;\n        msg.value = integrity.value;\n        msg.originlink = canonicalLink;\n        msg.sampled = true;\n        flow.set(\"samplePeriodCount\", periodCount + 1);\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 1050,
        "y": 2120,
        "wires": [
            [
                "9743a79a96fdefbc"
            ]
        ]
    },
    {
        "id": "3d2d7f0f1534dbae",
        "type": "link out",
        "z": "9fcb3dc635318115",
        "name": "Download",
        "mode": "link",
        "links": [
            "c69a0969bac5aaf1"
        ],
        "x": 1360,
        "y": 2100,
        "wires": [],
        "l": true
    },
    {
        "id": "c69a0969bac5aaf1",
        "type": "link in",
        "z": "9fcb3dc635318115",
        "name": "link in 1",
        "links": [
            "3d2d7f0f1534dbae"
        ],
        "x": 395,
        "y": 2280,
        "wires": [
            [
                "40838c27739e9251",
                "89db4c4133b2f889"
            ]
        ]
    },
    {
        "id": "40838c27739e9251",
        "type": "function",
        "z": "9fcb3dc635318115",
        "name": "Download",
        "func": "const MAX_RETRIES = 3;\nconst RETRY_DELAY_MS = 1000;\n\nconst payload = msg.payload;\n\nconst urlEntries = Object.entries(payload)\n    .filter(([key]) => key.endsWith(\":url\"))\n    .map(([key, url]) => ({ cacheName: key.replace(/:url$/, \"\"), url }));\n\nif (!msg.method || !msg.value) {\n    return null;\n}\n\nasync function sleep(ms) {\n    return new Promise(resolve => setTimeout(resolve, ms));\n}\n\n// Bypass libuv's threadpool for DNS - dns.resolve4 uses c-ares (async I/O)\n// instead of the 4-thread pool that dns.lookup() (and fs.*) shares.\nfunction fastLookup(hostname, options, callback) {\n    if (typeof options === \"function\") {\n        callback = options;\n        options = {};\n    }\n    dns.resolve4(hostname, (err, addresses) => {\n        if (err || !addresses || addresses.length === 0) {\n            return dns.lookup(hostname, options, callback);\n        }\n        callback(null, addresses[0], 4);\n    });\n}\n\nasync function downloadAndHash(url) {\n    for (let attempt = 1; attempt <= MAX_RETRIES; attempt++) {\n        try {\n            const result = await new Promise((resolve, reject) => {\n                let settled = false;\n                let req;\n\n                const timer = setTimeout(() => {\n                    if (settled) return;\n                    settled = true;\n                    if (req) req.destroy(new Error(\"Timed out after 15000ms\"));\n                    reject(new Error(\"Timed out after 15000ms\"));\n                }, 15000);\n\n                const lib = url.startsWith(\"https\") ? https : http;\n\n                req = lib.get(url, {\n                    family: 4,\n                    lookup: fastLookup,\n                    headers: { \"User-Agent\": \"wis2-sensor/1.0\" }\n                }, (res) => {\n                    if (settled) return;\n\n                    if (res.statusCode < 200 || res.statusCode >= 300) {\n                        res.resume();\n                        settled = true;\n                        clearTimeout(timer);\n                        return reject(new Error(`HTTP ${res.statusCode}`));\n                    }\n\n                    const chunks = [];\n                    res.on(\"data\", chunk => chunks.push(chunk));\n                    res.on(\"end\", () => {\n                        if (settled) return;\n                        settled = true;\n                        clearTimeout(timer);\n                        resolve(Buffer.concat(chunks));\n                    });\n                    res.on(\"error\", (err) => {\n                        if (settled) return;\n                        settled = true;\n                        clearTimeout(timer);\n                        reject(err);\n                    });\n                });\n\n                req.on(\"error\", (err) => {\n                    if (settled) return;\n                    settled = true;\n                    clearTimeout(timer);\n                    reject(err);\n                });\n            });\n            return crypto.createHash(msg.method).update(result).digest(\"base64\");\n        } catch (err) {\n            if (attempt < MAX_RETRIES) await sleep(RETRY_DELAY_MS);\n        }\n    }\n    return null;\n}\n\n(async () => {\n    const sensorid = flow.get(\"sensorid\");\n\n    const results = await Promise.allSettled(urlEntries.map(async ({ cacheName, url }) => {\n        const hash = await downloadAndHash(url);\n        if (hash === null) return { cacheName, url, match: false, downloaded: false };\n        return { cacheName, url, match: hash === msg.value, downloaded: true };\n    }));\n\n    const sample = {};\n\n    results.forEach((result, i) => {\n        if (result.status === \"fulfilled\" && result.value !== null) {\n            const { cacheName, match, downloaded } = result.value;\n\n            sample[cacheName] = downloaded ? 1 : 0;\n\n            node.send([{\n                ...msg,\n                payload: {\n                    op: \"inc\",\n                    labels: {\n                        global_cache: cacheName,\n                        report_by: sensorid\n                    },\n                    val: downloaded ? 1 : 0\n                }\n            }, null]);\n        }\n    });\n\n    node.send([null, {\n        ...msg,\n        payload: msg.payload,\n        sample\n    }]);\n})();\n\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "https",
                "module": "https"
            },
            {
                "var": "http",
                "module": "http"
            },
            {
                "var": "crypto",
                "module": "crypto"
            },
            {
                "var": "dns",
                "module": "dns"
            }
        ],
        "x": 520,
        "y": 2280,
        "wires": [
            [
                "7021ddb8feacddfd"
            ],
            [
                "9cd73b50d1ee4da9"
            ]
        ]
    },
    {
        "id": "1241effcbb4841e8",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Sample",
        "metric": "cd6ec1cdc99b1de5",
        "x": 680,
        "y": 2220,
        "wires": []
    },
    {
        "id": "89db4c4133b2f889",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\": 1\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 2220,
        "wires": [
            [
                "1241effcbb4841e8"
            ]
        ]
    },
    {
        "id": "7021ddb8feacddfd",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Downloaded",
        "metric": "bc213c9fdea8c6f6",
        "x": 690,
        "y": 2260,
        "wires": []
    },
    {
        "id": "2061db0db43e1b41",
        "type": "link out",
        "z": "9fcb3dc635318115",
        "name": "Log",
        "mode": "link",
        "links": [
            "6020dbf2b220391b"
        ],
        "x": 1350,
        "y": 2140,
        "wires": [],
        "l": true
    },
    {
        "id": "9cd73b50d1ee4da9",
        "type": "link out",
        "z": "9fcb3dc635318115",
        "name": "Log",
        "mode": "link",
        "links": [
            "6020dbf2b220391b"
        ],
        "x": 670,
        "y": 2300,
        "wires": [],
        "l": true
    },
    {
        "id": "6020dbf2b220391b",
        "type": "link in",
        "z": "9fcb3dc635318115",
        "name": "link in 2",
        "links": [
            "2061db0db43e1b41",
            "9cd73b50d1ee4da9"
        ],
        "x": 1005,
        "y": 2260,
        "wires": [
            [
                "c2cfa8d7adb26eae"
            ]
        ]
    },
    {
        "id": "17a3c62135bcb4ba",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "qos",
                "pt": "msg",
                "to": "$env(\"MQTT_QOS\") = \"\" ? 0 : $number($env(\"MQTT_QOS\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "{\"topic\": \"origin/a/wis2/\" & $flowContext(\"topic\"), \"qos\": qos } ",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 540,
        "wires": [
            [
                "b778150ac43b8303"
            ]
        ]
    },
    {
        "id": "ecd4cba1d3c3ffc0",
        "type": "status",
        "z": "9fcb3dc635318115",
        "name": "Brokers",
        "scope": [
            "6600d6a1be6e48c0",
            "1067ac263cbb3463",
            "4acc9c68e853f923",
            "aa9138632819c6cc",
            "d38c0f3f45cec671",
            "f83c3e81808bdce1"
        ],
        "x": 170,
        "y": 660,
        "wires": [
            [
                "db6692c486872572"
            ]
        ]
    },
    {
        "id": "db6692c486872572",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Green ?",
        "property": "status.fill",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 660,
        "wires": [
            [
                "17a3c62135bcb4ba",
                "f47b87fdb5baa0bb"
            ]
        ]
    },
    {
        "id": "f47b87fdb5baa0bb",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "qos",
                "pt": "msg",
                "to": "$env(\"MQTT_QOS\") = \"\" ? 0 : $number($env(\"MQTT_QOS\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "{\"topic\": \"cache/a/wis2/\" & $flowContext(\"topic\"), \"qos\": qos } ",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 800,
        "wires": [
            [
                "7c26d6dd35e39810"
            ]
        ]
    },
    {
        "id": "bbadfa05cca00d92",
        "type": "function",
        "z": "9fcb3dc635318115",
        "name": "Normalize",
        "func": "const payload = { ...msg.payload };  // unfreeze\nmsg.payload = payload;\nconst sample = msg.sample; \n\nconst globalCache = {};\n\nObject.keys(payload)\n    .filter(k => k.endsWith(\"-global-cache\"))\n    .forEach(cacheName => {\n        const entry = {\n            timestamp: payload[cacheName]\n        };\n\n        if (payload[`${cacheName}:url`] !== undefined) {\n            entry.url = payload[`${cacheName}:url`];\n        }\n        if (sample !== undefined) {\n            entry.downloaded = sample[cacheName] === 1;\n        }\n\n        globalCache[cacheName] = entry;\n\n        delete payload[cacheName];\n        delete payload[`${cacheName}:url`];\n    });\n\nmsg.payload[\"global-cache\"] = globalCache;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 2260,
        "wires": [
            [
                "2ef8dc5b21e22705"
            ]
        ]
    },
    {
        "id": "0ea5fdf6fea777fa",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Pub ?",
        "property": "$length($env(\"MQTT_PUB_BROKER\"))",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 2400,
        "wires": [
            [
                "092cca744b1adb95"
            ]
        ]
    },
    {
        "id": "299aa5b44f00a5e0",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"global_cache\": cache,\t      \"centre_id\":  centreid,\t      \"report_by\": $flowContext(\"sensorid\"),\t      \"rel\": rel\t   },\t   \"val\": 1\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 1520,
        "wires": [
            [
                "fd99a6a3ee832f09"
            ]
        ]
    },
    {
        "id": "fd99a6a3ee832f09",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Cached",
        "metric": "cefbe83260ed4899",
        "x": 1640,
        "y": 1520,
        "wires": []
    },
    {
        "id": "f9b62a35da0ee834",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"set\",\t   \"labels\":{\t      \"global_cache\": cache,\t      \"centre_id\":  centreid,\t      \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\": ( ($millis() - $number(payload)) / 1000 ) \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 1480,
        "wires": [
            [
                "06c3f4227bfc40f4"
            ]
        ]
    },
    {
        "id": "cfb198e0e594ee16",
        "type": "link out",
        "z": "9fcb3dc635318115",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "b45ab47409f4ba58"
        ],
        "x": 295,
        "y": 320,
        "wires": []
    },
    {
        "id": "b45ab47409f4ba58",
        "type": "link in",
        "z": "9fcb3dc635318115",
        "name": "link in 3",
        "links": [
            "cfb198e0e594ee16"
        ],
        "x": 885,
        "y": 320,
        "wires": [
            [
                "812e72f5540bbb3a",
                "d122e770d65b0983"
            ]
        ]
    },
    {
        "id": "812e72f5540bbb3a",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Test GC1 ?",
        "property": "$length($env(\"MQTT_TEST_GC1_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 300,
        "wires": [
            [
                "1706c127569c051a"
            ]
        ]
    },
    {
        "id": "1706c127569c051a",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle Test GC1",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_TEST_GC1_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_TEST_GC1_BROKER\"),/wss/) or $contains($env(\"MQTT_TEST_GC1_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$length($env(\"MQTT_TEST_GC1_VERIFYCERT\")) = 0 ? false : $env(\"MQTT_TEST_GC1_VERIFYCERT\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_TEST_GC1_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_TEST_GC1_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_TEST_GC1_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_TEST_GC1_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb5",
                "pt": "flow",
                "to": "TEST_GC1_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 300,
        "wires": [
            [
                "d38c0f3f45cec671"
            ]
        ]
    },
    {
        "id": "d38c0f3f45cec671",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define Test GC1",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "761f72061fd14a3a",
        "x": 1380,
        "y": 300,
        "wires": []
    },
    {
        "id": "d122e770d65b0983",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Test GC2 ?",
        "property": "$length($env(\"MQTT_TEST_GC2_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "728ad07ca1868128"
            ]
        ]
    },
    {
        "id": "728ad07ca1868128",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Handle Test GC2",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_TEST_GC2_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_TEST_GC2_BROKER\"),/wss/) or $contains($env(\"MQTT_TEST_GC2_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "$length($env(\"MQTT_TEST_GC2_VERIFYCERT\")) = 0 ? false : $env(\"MQTT_TEST_GC2_VERIFYCERT\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_TEST_GC2_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_TEST_GC2_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_TEST_GC2_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_TEST_GC2_BROKERVERSION\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gb6",
                "pt": "flow",
                "to": "TEST_GC2_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 340,
        "wires": [
            [
                "f83c3e81808bdce1"
            ]
        ]
    },
    {
        "id": "f83c3e81808bdce1",
        "type": "mqtt out",
        "z": "9fcb3dc635318115",
        "name": "Define Test GC2",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aa5d7748a7cc7691",
        "x": 1380,
        "y": 340,
        "wires": []
    },
    {
        "id": "3291feb549ad66c8",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Test GC1 ?",
        "property": "$length($env(\"MQTT_TEST_GC1_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 940,
        "wires": [
            [
                "f011eec8937b1d8c"
            ]
        ]
    },
    {
        "id": "f011eec8937b1d8c",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "Test GC1",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "761f72061fd14a3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 820,
        "y": 940,
        "wires": [
            [
                "7757633b23adb398"
            ]
        ]
    },
    {
        "id": "7757633b23adb398",
        "type": "rbe",
        "z": "9fcb3dc635318115",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 950,
        "y": 940,
        "wires": [
            [
                "d5696a6abb33ab65"
            ]
        ]
    },
    {
        "id": "d5696a6abb33ab65",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload5",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic5",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload5.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 940,
        "wires": [
            [
                "36514b0a7f5b7270"
            ]
        ]
    },
    {
        "id": "aff6c863a70b852c",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1310,
        "y": 940,
        "wires": [
            [
                "766edbf5097fcd68"
            ]
        ]
    },
    {
        "id": "766edbf5097fcd68",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ mqtttopic5, $string(mqttpayload5) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 940,
        "wires": [
            [
                "370c2fcf3bdef179"
            ]
        ]
    },
    {
        "id": "7a4c970a80949751",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Test GC2 ?",
        "property": "$length($env(\"MQTT_TEST_GC2_BROKER\")) > 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 1000,
        "wires": [
            [
                "981b58cf2c12bfca"
            ]
        ]
    },
    {
        "id": "981b58cf2c12bfca",
        "type": "mqtt in",
        "z": "9fcb3dc635318115",
        "name": "Test GC2",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aa5d7748a7cc7691",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 820,
        "y": 1000,
        "wires": [
            [
                "1e3277b7c9290a7a"
            ]
        ]
    },
    {
        "id": "1e3277b7c9290a7a",
        "type": "rbe",
        "z": "9fcb3dc635318115",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 950,
        "y": 1000,
        "wires": [
            [
                "c9c63ad5fcf4798c"
            ]
        ]
    },
    {
        "id": "c9c63ad5fcf4798c",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Save",
        "rules": [
            {
                "t": "set",
                "p": "mqttpayload6",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mqtttopic6",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"wnmid#\" & msg.mqttpayload6.id,true,\"NX\",\"EX\",900]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1000,
        "wires": [
            [
                "71deb8d26804b578"
            ]
        ]
    },
    {
        "id": "84efc5ad9ab175b7",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1310,
        "y": 1000,
        "wires": [
            [
                "09b6871ef137cf93"
            ]
        ]
    },
    {
        "id": "09b6871ef137cf93",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ mqtttopic6, $string(mqttpayload6) ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1000,
        "wires": [
            [
                "a9f3c0b6361eb765"
            ]
        ]
    },
    {
        "id": "36514b0a7f5b7270",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1190,
        "y": 940,
        "wires": [
            [
                "aff6c863a70b852c"
            ]
        ]
    },
    {
        "id": "370c2fcf3bdef179",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1570,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "a9f3c0b6361eb765",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "PUBLISH",
        "name": "Pub",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1570,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "71deb8d26804b578",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "Set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1190,
        "y": 1000,
        "wires": [
            [
                "84efc5ad9ab175b7"
            ]
        ]
    },
    {
        "id": "669a5db69fdb7581",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Orig",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "orig",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1280,
        "wires": [
            [
                "d6b953d2c9b27373"
            ]
        ]
    },
    {
        "id": "9c0a69b57ce5d988",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "All",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "hset_data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1320,
        "wires": [
            [
                "f8a53d2a6ae7d288"
            ]
        ]
    },
    {
        "id": "d6b953d2c9b27373",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "SET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 910,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "f8a53d2a6ae7d288",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HSET",
        "name": "HSET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 910,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "fecf26268d94e20b",
        "type": "split",
        "z": "9fcb3dc635318115",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "gc",
        "x": 1210,
        "y": 1180,
        "wires": [
            [
                "bcc8512c5ce7b36e"
            ]
        ]
    },
    {
        "id": "bcc8512c5ce7b36e",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Store",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[\t   \"scgc#\" & gc & \"#\" & centreid & \"#\" & dataid & \"#\" & pubtime ,\t   $millis(),\t   \"EX\",\t  $flowContext(\"timeout_cache\")\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 1180,
        "wires": [
            [
                "d55761a08ee6e3d8"
            ]
        ]
    },
    {
        "id": "d55761a08ee6e3d8",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "SET",
        "name": "SET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1450,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "a93bb330271ec030",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "WNM",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "hset_wnm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1360,
        "wires": [
            [
                "f044c7490c8e792d"
            ]
        ]
    },
    {
        "id": "f044c7490c8e792d",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HSET",
        "name": "HSET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 910,
        "y": 1360,
        "wires": [
            [
                "2fc3adac5cab5d9d"
            ]
        ]
    },
    {
        "id": "2fc3adac5cab5d9d",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Expire",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ hset_wnm[0], 86400 ]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1360,
        "wires": [
            [
                "47e819a2f896a2be"
            ]
        ]
    },
    {
        "id": "47e819a2f896a2be",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "EXPIRE",
        "name": "EXPIRE",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1160,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "76a4014a36c950a0",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HGETALL",
        "name": "HGETALL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 500,
        "y": 1900,
        "wires": [
            [
                "34ad05bbb1d11f34"
            ]
        ]
    },
    {
        "id": "34ad05bbb1d11f34",
        "type": "switch",
        "z": "9fcb3dc635318115",
        "name": "Seen?",
        "property": "$count(payload)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 1900,
        "wires": [
            [
                "8a298e65be0fa0a1",
                "9a37e9f2ff601465"
            ],
            []
        ]
    },
    {
        "id": "8a298e65be0fa0a1",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Early",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"early#\" & $substringAfter(hset[0], \"data#\"), cache, $millis(), cache & \":url\", ($exists(url) ? url : \"\") ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1880,
        "wires": [
            [
                "21b055563588de51"
            ]
        ]
    },
    {
        "id": "21b055563588de51",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HSET",
        "name": "HSET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 890,
        "y": 1880,
        "wires": [
            [
                "e715acf9f8d8219a"
            ]
        ]
    },
    {
        "id": "e715acf9f8d8219a",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Expire",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "[ \"early#\" & $substringAfter(hset[0], \"data#\"), $flowContext(\"timeout_orig\") ]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1880,
        "wires": [
            [
                "d40ace1457c08ede"
            ]
        ]
    },
    {
        "id": "d40ace1457c08ede",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "EXPIRE",
        "name": "EXPIRE",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1140,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "9a37e9f2ff601465",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Prometheus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"op\":\"inc\",\t   \"labels\":{\t      \"global_cache\": cache,\t      \"centre_id\":  centreid,\t      \"report_by\": $flowContext(\"sensorid\")\t   },\t   \"val\":1 \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1920,
        "wires": [
            [
                "66e07710f32c43b8"
            ]
        ]
    },
    {
        "id": "66e07710f32c43b8",
        "type": "prometheus-exporter",
        "z": "9fcb3dc635318115",
        "name": "Early",
        "metric": "3e2a75606bc0774a",
        "x": 930,
        "y": 1920,
        "wires": []
    },
    {
        "id": "808c53b19e7bb780",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Early",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"early#\" & $substringAfter(hset_data[0], \"data#\")",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1240,
        "wires": [
            [
                "f9a458956f14a381"
            ]
        ]
    },
    {
        "id": "f9a458956f14a381",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HGETALL",
        "name": "HGETALL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 920,
        "y": 1240,
        "wires": [
            [
                "83c6714c6c5033d8"
            ]
        ]
    },
    {
        "id": "83c6714c6c5033d8",
        "type": "function",
        "z": "9fcb3dc635318115",
        "name": "Reconcile",
        "func": "const gcList = flow.get(\"gc\") || [];\nconst arr = Array.isArray(msg.payload) ? msg.payload : [];\n\nconst map = {};\nfor (let i = 0; i < arr.length; i += 2) {\n    map[arr[i]] = arr[i + 1];\n}\n\nconst dataKey = msg.hset_data[0];\nconst earlyKey = \"early#\" + dataKey.slice(\"data#\".length);\n\nconst found = gcList.filter(name => Object.prototype.hasOwnProperty.call(map, name));\nconst remaining = gcList.filter(name => !Object.prototype.hasOwnProperty.call(map, name));\n\n// Output 1: caches still needing a scgc# placeholder. payload must NOT\n// carry over the stale HGETALL result into the downstream SET.\nconst remainingMsg = { ...msg };\nremainingMsg.gc = remaining;\ndelete remainingMsg.payload;\n\nif (found.length === 0) {\n    return [remainingMsg, null, null, null];\n}\n\n// Output 2: merge the early confirmations into the data# hash.\n// topic carries the HSET args; payload must be absent, not duplicated.\nconst hsetArgs = [dataKey];\nfound.forEach(name => {\n    hsetArgs.push(name, map[name]);\n    if (Object.prototype.hasOwnProperty.call(map, name + \":url\")) {\n        hsetArgs.push(name + \":url\", map[name + \":url\"]);\n    }\n});\nconst mergeMsg = { ...msg, topic: hsetArgs };\ndelete mergeMsg.payload;\n\n// Output 3: one message per reconciled cache - payload IS the timestamp\n// here, on purpose, read directly by the delay/metric nodes downstream.\nconst perCache = found.map(name => {\n    const m = { ...msg };\n    m.cache = name;\n    m.payload = Number(map[name]);\n    delete m.topic;\n    return m;\n});\n\n// Output 4: clean up the early# hash - topic only, no payload.\nconst cleanupMsg = { ...msg, topic: earlyKey };\ndelete cleanupMsg.payload;\n\nreturn [remainingMsg, mergeMsg, perCache, cleanupMsg];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1240,
        "wires": [
            [
                "fecf26268d94e20b"
            ],
            [
                "51b13013ca8545ec"
            ],
            [
                "dcbea90184b0594c"
            ],
            [
                "6de7bb9946995616"
            ]
        ]
    },
    {
        "id": "51b13013ca8545ec",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "HSET",
        "name": "HSET",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1210,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "6de7bb9946995616",
        "type": "redis-command",
        "z": "9fcb3dc635318115",
        "server": "bd6837434fd7b3cb",
        "command": "DEL",
        "name": "DEL",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1210,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "cef2c72c82999154",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Del",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1300,
        "wires": [
            [
                "808c53b19e7bb780",
                "669a5db69fdb7581",
                "9c0a69b57ce5d988",
                "a93bb330271ec030"
            ]
        ]
    },
    {
        "id": "62faa38b6e929de3",
        "type": "link out",
        "z": "9fcb3dc635318115",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "f59cb6e2efb0ba64"
        ],
        "x": 1435,
        "y": 1800,
        "wires": []
    },
    {
        "id": "f59cb6e2efb0ba64",
        "type": "link in",
        "z": "9fcb3dc635318115",
        "name": "link in 4",
        "links": [
            "62faa38b6e929de3"
        ],
        "x": 275,
        "y": 1900,
        "wires": [
            [
                "d9ccba363ddb5d4a"
            ]
        ]
    },
    {
        "id": "dcbea90184b0594c",
        "type": "link out",
        "z": "9fcb3dc635318115",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "157fbaa1b6ee931d"
        ],
        "x": 1175,
        "y": 1260,
        "wires": []
    },
    {
        "id": "157fbaa1b6ee931d",
        "type": "link in",
        "z": "9fcb3dc635318115",
        "name": "link in 8",
        "links": [
            "dcbea90184b0594c"
        ],
        "x": 1305,
        "y": 1580,
        "wires": [
            [
                "299aa5b44f00a5e0",
                "662ddb5376824c47",
                "f9b62a35da0ee834"
            ]
        ]
    },
    {
        "id": "d9ccba363ddb5d4a",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "WNM",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"wnm#\" & centreid & \"#\" & data_id",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1900,
        "wires": [
            [
                "76a4014a36c950a0"
            ]
        ]
    },
    {
        "id": "9ba4a782ac8e84c4",
        "type": "function",
        "z": "9fcb3dc635318115",
        "name": "200 ?",
        "func": "const gcTest = flow.get(\"gc_test\") || [];\nif (gcTest.includes(msg.cache)) {\n    // Test caches are never actually reachability-checked - always pass through.\n    msg.statusCode = 200;\n    return msg;\n}\n\nconst link = (msg.cache_links || []).find(l => l.rel === 'canonical' || l.rel === 'update');\nconst url = link ? link.href : null;\n\nif (!url) {\n    // No URL → stop flow\n    return null;\n}\n\n// Bypass libuv's threadpool for DNS - dns.resolve4 uses c-ares (async I/O)\n// instead of the 4-thread pool that dns.lookup() (and fs.*) shares.\nfunction fastLookup(hostname, options, callback) {\n    if (typeof options === \"function\") {\n        callback = options;\n        options = {};\n    }\n    dns.resolve4(hostname, (err, addresses) => {\n        if (err || !addresses || addresses.length === 0) {\n            return dns.lookup(hostname, options, callback);\n        }\n        callback(null, addresses[0], 4);\n    });\n}\n\nreturn new Promise((resolve, reject) => {\n    const client = url.startsWith(\"https\") ? https : http;\n    let settled = false;\n\n    const req = client.request(url, {\n        method: \"HEAD\",\n        timeout: 10000,\n        family: 4,\n        lookup: fastLookup\n    }, (res) => {\n        if (settled) return;\n        const code = res.statusCode;\n\n        if (code !== 200) {\n            // ❌ Not 200 → stop flow\n            settled = true;\n            resolve(null);\n            return;\n        }\n\n        // ✔ 200 → continue\n        settled = true;\n        msg.statusCode = code;\n        msg.url = url;\n        msg.rel = link.rel;   // 'canonical' or 'update'\n        resolve(msg);\n    });\n\n    req.on(\"timeout\", () => {\n        // ⏱ No response within 10s → mark as 404, stop flow\n        if (settled) return;\n        settled = true;\n        req.destroy();\n        msg.statusCode = 404;\n        resolve(null);\n    });\n\n    req.on(\"error\", (err) => {\n        // ❌ Error → stop flow\n        if (settled) return;\n        settled = true;\n        resolve(null);\n    });\n\n    req.end();\n});",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "http",
                "module": "http"
            },
            {
                "var": "https",
                "module": "https"
            },
            {
                "var": "dns",
                "module": "dns"
            }
        ],
        "x": 990,
        "y": 1660,
        "wires": [
            [
                "efc9758439cc50e8"
            ]
        ]
    },
    {
        "id": "f5b56187480483c3",
        "type": "change",
        "z": "9fcb3dc635318115",
        "name": "Init",
        "rules": [
            {
                "t": "set",
                "p": "delay1",
                "pt": "flow",
                "to": "$number($env(\"CACHE_DELAY_LOW\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "delay2",
                "pt": "flow",
                "to": "$number($env(\"CACHE_DELAY_MED\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "timeout_cache",
                "pt": "flow",
                "to": "$number($env(\"CACHE_DELAY_MAX\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "timeout_orig",
                "pt": "flow",
                "to": "$number($env(\"CACHE_DELAY_MAX\")) + 10",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "flow",
                "to": "MQTT_TOPIC",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "log",
                "pt": "flow",
                "to": "$eval($length($env(\"WNM_LOGGING\")) = 0 ? \"false\" : $env(\"WNM_LOGGING\"))",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "sensorid",
                "pt": "flow",
                "to": "SENSOR_CENTRE_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "flow",
                "to": "SENSOR_CENTRE_ID_URL",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gc_test",
                "pt": "flow",
                "to": "$length($env(\"GLOBAL_CACHE_TEST\")) = 0 ? [] : $split($env(\"GLOBAL_CACHE_TEST\"),\",\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gc",
                "pt": "flow",
                "to": "$distinct($append($split($env(\"GLOBAL_CACHE\"),\",\"), $flowContext(\"gc_test\")))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            []
        ]
    }
]